<div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row m-0 p-0">
          <div class="col-sm-12">
              <h3 class="page-heading">Edit Course</h3>
          </div>
          <div class="col-sm-12 text-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Edit Course</li>
                </ol>
          </div>
        </div>
      </div><!-- container-fluid -->
    </section>
  
      <!-- Main content -->
      <section class="content">
          <div class="container-fluid">
              <div class="row m-0 p-0">
                  <!-- left column -->
                  <div class="col-md-10 offset-md-1">
                    <!-- general form elements -->
                      <div class="card card-primary mb-0">
                        <div class="card-header">
                          <h5 class="card-title">Edit Full Course</h5>
                        </div> 
                          <form #f ="ngForm">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-12">
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Course Information</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <!-- <div class="form-group row">
                                                    <label for="coursetype" class="col-sm-4 control-label">Course Type</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="coursetype" id="coursetype">
                                                          <option selected="selected" value="VET">VET</option>
                                                          <option value="VET">VET</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                      </select>
                                                    </div>
                                                  </div> -->

                                                  <div class="form-group row">
                                                    <label for="courseName" class="col-sm-4 control-label">Course Name<span class="star">*</span></label>
                                                    <div class="col-sm-8"> 
                                                      <div class="input-group">
                                                          <input class="form-control" type="text" name="courseName" id="courseName" [(ngModel)]='course.courseName' placeholder="Enter course name here" required>
                                                      </div>         
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="form-group row">
                                                    <label for="courseCode" class="col-sm-4 control-label">Course Code<span class="star">*</span></label>
                                                    <div class="col-sm-8"> 
                                                      <div class="input-group">
                                                        <input class="form-control" type="text" name="courseCode" id="courseCode" [(ngModel)]='course.courseCode' placeholder="Enter course code here" required>
                                                      </div>         
                                                    </div>
                                                  </div>

                                                  <div class="form-group row">
                                                    <label for="nationalCode" class="col-sm-4 control-label">National Code<span class="star">*</span></label>
                                                    <div class="col-sm-8"> 
                                                      <div class="input-group">
                                                        <input class="form-control" type="text" name="nationalCode" id="nationalCode" [(ngModel)]='course.nationalCode'  placeholder="Enter national code here" required>
                                                      </div>         
                                                    </div>
                                                  </div>
                                                  
                                                </div><!--col-md-6-->
                                                
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="moduleDelivery" class="col-sm-4 control-label">Module Delivery?</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" type="text" name="moduleDelivery" id="moduleDelivery"       [(ngModel)]='course.moduleDelivery'  placeholder="Enter module delivery here" required>
                                                    </div>
                                                  </div>

                                                  <div class="form-group row">
                                                    <label for="isSuperseded" class="col-sm-4 control-label alignStart">Is Superseded?</label>
                                                      <div class="col-sm-8">
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox1" [(ngModel)]='course.isSuperseded' value="cbox1">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" name="isSuperseded" id="isSuperseded" [(ngModel)]='course.isSuperseded'  placeholder="Enter superseding code" >
                                                          </div> 
                                                        </div>
                                                      </div>
                                                  </div>

                                                  <div class="form-group row">
                                                    <label for="cricosCode" class="col-sm-4 control-label alignStart">Crisco Code<span class="star">*</span></label>
                                                    <div class="col-sm-8">
                                                      <div class="input-group">
                                                        <input class="form-control" type="text" name="cricosCode" id="cricosCode"  [(ngModel)]='course.cricosCode' placeholder="Enter crisco code" required>
                                                      </div> 
                                                      <div class="form-check cbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox1" [(ngModel)]='course.cricosCode' value="cbox1">
                                                        <label class="form-check-label">No Crisco Code</label>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><!--col-md-6-->
                                              </div>
                                              <div class="form-group row">
                                                  <label for="courseduration" class="col-sm-2 control-label">Course Duration</label>
                                                  <div class="col-sm-4">
                                                    <div class="input-group">
                                                      <input class="form-control" type="text" name="durationUnit" id="durationUnit"  [(ngModel)]='course.durationUnit' placeholder="Enter Course Duration" required>
                                                    </div> 
                                                  </div>
                                                  <div class="col-sm-6">
                                                    <div class="reservationdate" id="reservationdate" data-target-input="nearest">          
                                                      <input type="date" class="form-control datetimepicker-input" name="duration" id="duration" [(ngModel)]='course.duration'  data-target="#reservationdate" placeholder="27/7/2020">
                                                    </div>
                                                  </div>
                                              </div> <!--form-group-row-->
                                              <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group row">
                                                      <label for="deliveryTarget" class="col-sm-4 control-label">Delivery Target</label>
                                                      <div class="col-sm-8">
                                                        <select class="form-control" name="deliveryTarget" id="deliveryTarget" [(ngModel)]='course.deliveryTarget'>
                                                          <option selected="selected" value="Any">--Select Option--</option>
                                                          <option value="All Teachers">All Teachers</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="form-group row bottomzero">
                                                      <label for="internationTutionFees" class="col-sm-4 control-label">International Tution Fee</label>
                                                      <div class="col-sm-8"> 
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="internationTutionFees" id="internationTutionFees" [(ngModel)]='course.internationTutionFees' placeholder="0.00" >
                                                        </div>         
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <label for="faculty" class="col-sm-4 control-label alignStart">Faculty</label>
                                                      <div class="col-sm-8">
                                                        <select class="form-control" name="faculty" id="faculty" [(ngModel)]='course.faculty'>
                                                          <option selected="selected" value="Any">--Select Option--</option>
                                                          <option value="All Teachers">All Teachers</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                        </select>
                                                        <a href="#" class="relatedlinks">Add Faculty</a>
                                                      </div>
                                                       
                                                    </div>
                                                    <div class="form-group row bottomzero">
                                                      <label for="qualificationPrerequisite" class="col-sm-4 control-label">Qualification Prerequisite</label>
                                                      <div class="col-sm-8">
                                                        <select class="form-control" name="qualificationPrerequisite" id="qualificationPrerequisite" [(ngModel)]='course.qualificationPrerequisite'>
                                                          <option selected="selected" value="Any">--Select Option--</option>
                                                          <option value="All Teachers">All Teachers</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <label for="courseStartDate" class="col-sm-4 control-label" >Course Effective Start Date</label>
                                                      <div class="col-sm-8" id="reservationdate" data-target-input="nearest">          
                                                        <input type="date" class="form-control datetimepicker-input" name="courseStartDate" id="courseStartDate" [(ngModel)]='course.courseStartDate' data-target="#reservationdate" placeholder="27/7/2020">
                                                      </div>
                                                    </div>
                                                  </div><!--col-md-6-->
    
                                                  <div class="col-md-6">
                                                    <div class="form-group row bottomzero">
                                                      <label for="maximumWeeklyStudy" class="col-sm-4 control-label">Maximum Weekly Study</label>
                                                      <div class="col-sm-8">
                                                        <select class="form-control" name="maximumWeeklyStudy" id="maximumWeeklyStudy" [(ngModel)]='course.maximumWeeklyStudy'>
                                                          <option selected="selected" value="Any">--Select Option--</option>
                                                          <option value="All Teachers">All Teachers</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                    <div class="form-group row bottomzero">
                                                      <label for="domesticTutionFees" class="col-sm-4 control-label">Domestic Tution Fee</label>
                                                      <div class="col-sm-8"> 
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="domesticTutionFees" id="domesticTutionFees" [(ngModel)]='course.domesticTutionFees' placeholder="0.00" >
                                                        </div>         
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <label for="department" class="col-sm-4 control-label alignStart">Department</label>
                                                      <div class="col-sm-8">
                                                        <select class="form-control" name="department" id="department" [(ngModel)]='course.department'>
                                                          <option selected="selected" value="Any">--Select Option--</option>
                                                          <option value="All Teachers">All Teachers</option>
                                                          <option value="NT">NT</option>
                                                          <option value="QLD">QLD</option>
                                                          <option value="SA">SA</option>
                                                          <option value="TAS">TAS</option>
                                                          <option value="VIC">VIC</option>
                                                          <option value="WA">WA</option>
                                                          <option value="Other - Overseas">Other - Overseas</option>
                                                        </select>
                                                        <a href="#" class="adddept">Add / Delete Dept.</a> 
    
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <label for="major" class="col-sm-4 control-label">Major</label>
                                                      <div class="col-sm-8"> 
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="major" id="major" [(ngModel)]='course.major' placeholder="Enter Major Course Name" >
                                                        </div>         
                                                      </div>
                                                    </div>
                                                    <div class="form-group row">
                                                      <label for="courseEndDate" class="col-sm-4 control-label" >Course Effective End Date</label>
                                                        <div class="col-sm-8" id="reservationdate" data-target-input="nearest">          
                                                          <input type="date" class="form-control datetimepicker-input" name="courseEndDate" id="courseEndDate" [(ngModel)]='course.courseEndDate' data-target="#reservationdate" placeholder="27/7/2020">
                                                        </div>
                                                    </div>
                                                  </div><!--col-md-6-->
                                              </div>
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row1-->
  
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Specific Information</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="form-group row">
                                                <label for="resultCalculationMethod" class="col-sm-3 control-label">Results Calculation Method</label>
                                                <div class="col-sm-9">
                                                  <select class="form-control" name="resultCalculationMethod" id="resultCalculationMethod" [(ngModel)]='course.resultCalculationMethod'>
                                                    <option selected="selected" value="Any">--Select Option--</option>
                                                    <option value="All Teachers">All Teachers</option>
                                                    <option value="NT">NT</option>
                                                    <option value="QLD">QLD</option>
                                                    <option value="SA">SA</option>
                                                    <option value="TAS">TAS</option>
                                                    <option value="VIC">VIC</option>
                                                    <option value="WA">WA</option>
                                                    <option value="Other - Overseas">Other - Overseas</option>
                                                  </select>
                                                </div>
                                              </div>
                              
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="hasWorkPlacement" class="col-sm-6 control-label">Has Work Placement</label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="hasWorkPlacement" id="hasWorkPlacement" [(ngModel)]='course.hasWorkPlacement'>
                                                            <option selected="selected" value="Any">--Select Option--</option>
                                                            <option value="YES">Yes</option>
                                                            <option value="NO">No</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <label for="flexibleTimetable" class="col-sm-6 control-label">Flexible Timetable</label>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="flexibleTimetable" id="flexibleTimetable" [(ngModel)]='course.flexibleTimetable'>
                                                            <option selected="selected" value="Any">--Select Option--</option>
                                                            <option value="MORNING">Morning</option>
                                                            <option value="EVENING">Evening</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="courseLevel" class="col-sm-4 control-label">Course Level</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="courseLevel" id="courseLevel" [(ngModel)]='course.courseLevel'>
                                                            <option selected="selected" value="Any">--Select Option--</option>
                                                            <option value="LEVEL1">Level 1</option>
                                                            <option value="LEVEL2">Level 2</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <label for="activatedNow" class="col-sm-4 control-label">Activated Now</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="activatedNow" id="activatedNow" [(ngModel)]='course.activatedNow'>
                                                            <option selected="selected" value="null">--Select Option--</option>
                                                            <option value="YES">Yes</option>
                                                            <option value="NO">No</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row2-->
  
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>AVETMISS Information</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="avetmissCourseRecognitionId" class="col-sm-4 control-label">Course Recognition</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="avetmissCourseRecognitionId" id="avetmissCourseRecognitionId" [(ngModel)]='course.avetmissCourseRecognitionId'>
                                                        <option selected="selected" value="null">--Select Option--</option>
                                                        <option value="All Teachers">All Teachers</option>
                                                        <option value="NT">NT</option>
                                                        <option value="QLD">QLD</option>
                                                        <option value="SA">SA</option>
                                                        <option value="TAS">TAS</option>
                                                        <option value="VIC">VIC</option>
                                                        <option value="WA">WA</option>
                                                        <option value="Other - Overseas">Other - Overseas</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                  
                                                  <div class="form-group row">
                                                    <label for="avetmissLevelOfEducationId" class="col-sm-4 control-label">Level of Education</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="avetmissLevelOfEducationId" id="avetmissLevelOfEducationId" [(ngModel)]='course.avetmissLevelOfEducationId'>
                                                        <option selected="selected" value="null">--Select Option--</option>
                                                        <option value="All Teachers">All Teachers</option>
                                                        <option value="NT">NT</option>
                                                        <option value="QLD">QLD</option>
                                                        <option value="SA">SA</option>
                                                        <option value="TAS">TAS</option>
                                                        <option value="VIC">VIC</option>
                                                        <option value="WA">WA</option>
                                                        <option value="Other - Overseas">Other - Overseas</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                  
                                                  <div class="form-group row">
                                                    <label for="avetmissFieldOfEducationId" class="col-sm-4 control-label">Field of Education</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="avetmissFieldOfEducationId" id="avetmissFieldOfEducationId" [(ngModel)]='course.avetmissFieldOfEducationId'>
                                                        <option selected="selected" value="null">--Select Option--</option>
                                                        <option value="All Teachers">All Teachers</option>
                                                        <option value="NT">NT</option>
                                                        <option value="QLD">QLD</option>
                                                        <option value="SA">SA</option>
                                                        <option value="TAS">TAS</option>
                                                        <option value="VIC">VIC</option>
                                                        <option value="WA">WA</option>
                                                        <option value="Other - Overseas">Other - Overseas</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                </div><!--col-md-6-->
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="avetmissANZSCOId" class="col-sm-4 control-label">ANZSCO Code</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="avetmissANZSCOId" id="avetmissANZSCOId" [(ngModel)]='course.avetmissANZSCOId'>
                                                        <option selected="selected" value="null">--Select Option--</option>
                                                        <option value="All Teachers">All Teachers</option>
                                                        <option value="NT">NT</option>
                                                        <option value="QLD">QLD</option>
                                                        <option value="SA">SA</option>
                                                        <option value="TAS">TAS</option>
                                                        <option value="VIC">VIC</option>
                                                        <option value="WA">WA</option>
                                                        <option value="Other - Overseas">Other - Overseas</option>
                                                      </select>
                                                    </div>
                                                  </div>
    
                                                  <div class="form-group row bottomzero">
                                                    <label for="avetmissTotalNominalHours" class="col-sm-4 control-label">Total Nominal hours</label>
                                                    <div class="col-sm-8">
                                                      <select class="form-control" name="avetmissTotalNominalHours" id="avetmissTotalNominalHours" [(ngModel)]='course.avetmissTotalNominalHours'>
                                                        <option selected="selected" value="null">--Select Option--</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                      </select>
                                                    </div>
                                                  </div>
    
                                                  <div class="form-group row">
                                                    <label for="avetmissReport" class="col-sm-4 control-label" >AVETMISS Report</label>
                                                    <div class="col-sm-8">
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="avetmissReport" id="avetmissReport" value="Y" [(ngModel)]='course.avetmissReport'>
                                                            <label class="form-check-label">Yes</label>
                                                        </div>
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="avetmissReport" id="avetmissReport" value="N" [(ngModel)]='course.avetmissReport'>
                                                            <label class="form-check-label">No</label>
                                                        </div>
                                                    </div>
                                                  </div>
                                                </div><!--col-md-6-->
                                              </div>
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row3-->
  
  
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Additional Information</h3>
                                            </div>
                                            <div class="inner-row">
                                              <span class="text-star">NO OTHER DETAILS FOUND</span>
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row4-->
  
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Course Description</h3>
                                            </div>
                                            <div class="inner-row">
                                              <textarea class="form-control" rows="3" placeholder="Enter course description" name="courseDescriptin" id="courseDescriptin" [(ngModel)]='course.courseDescriptin'></textarea>
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row5-->
  
                                      </div> <!--main-column-->
                                  </div><!--main-row-->
                                  
                                  <br>
                              <div class="submit-button">
                                <button type="submit" (click)="updateCourse(f)" class="btn btn-success" name="save" id="save">Save</button>
                              </div>
                              
                              </div>
                          </form>
                        
                      </div> <!--card card-primary-->
                     
                  </div> <!--col-md-6 offset-md-2-->
                 
              </div> <!--row-->
             
          </div> <!--container-fluid-->
               
      </section> <!--section2-->
      
  </div> <!--content-wrapper-->
  
  
     