<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Staff Management Home</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Staff Management Home</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h5 class="card-title">Search Staff List</h5>
                    </div>
                        <form role="form">
                            <div class="card-body">
                        
                                <div class="row">

                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="search" class="col-sm-2 label">Search by</label>

                                          <div class="col-sm-4 ">
                                
                                            <select class="form-control" name="search" id="search">
                                                <option selected="selected" value="Status">Status</option>
                                                <option value="All Service Provider">All Service Provider</option>
                                                <option value="NT">NT</option>
                                                <option value="QLD">QLD</option>
                                                <option value="SA">SA</option>
                                                <option value="TAS">TAS</option>
                                                <option value="VIC">VIC</option>
                                                <option value="WA">WA</option>
                                                <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
    
                                        </div> <!--col-sm-4-->
                             
                                        <div class="col-sm-4">
                                            <select class="form-control" name="searchby" id="searchby">
                                                <option selected="selected" value=" Active">Active</option>
                                                <option value="All Service Provider">All Service Provider</option>
                                                <option value="NT">NT</option>
                                                <option value="QLD">QLD</option>
                                                <option value="SA">SA</option>
                                                <option value="TAS">TAS</option>
                                                <option value="VIC">VIC</option>
                                                <option value="WA">WA</option>
                                                <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
                                        </div> <!--col-sm-4-->

                                        <div class="submit-button col-sm-2">
                                          <button type="submit" class="btn btn-info"  name="search" id="search">Search</button>
                                      </div>
       
                                        </div> <!--form-group-row-->
                                      </div><!--inner-row-->            
                                    </div> <!--col-md-12 sub-form-->

                                </div> <!--row1-->    
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content-wrapper-->


   
