<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
          <h3 class="page-heading">Create User</h3>
        </div>
        <div class="col-sm-12 text-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">
              <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Create
              User
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </section>

  <!-- Main content -->
  <div class="row p-0 m-0">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="container-fluid">
              <!-- general form elements -->
              <div class="card card-primary mb-0">
                <div class="card-header">
                  <h5 class="card-title">Create User</h5>
                </div>
                <!-- form start -->
                <form role="form" #f="ngForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="alert alert-success">
                          <strong>Success!</strong>User created.
                        </div>

                        <div class="inner-row">
                          <div class="form-group row">
                            <label for="exampleInputEmail1" class="col-sm-2 control-label alignStart">Email Address<span
                                class="star">*</span></label>
                            <div class="col-sm-10">
                              <div class="input-group">
                                <input [ngClass]="
                                    error0 == ''
                                      ? 'form-control'
                                      : 'form-control is-invalid'
                                  " [(ngModel)]="email" type="email" class="form-control" name="email" id="email"
                                  aria-describedby="emailHelp" placeholder="Enter email" required />
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                  anyone
                                  else.</small>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password<span
                                class="star">*</span></label>
                            <div class="col-sm-10">
                              <input [ngClass]="
                                  error1 == ''
                                    ? 'form-control'
                                    : 'form-control is-invalid'
                                " [(ngModel)]="password" type="password" class="form-control" id="userpassword"
                                name="userpassword" placeholder="Password" required />
                            </div>
                          </div>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!-- row1 -->

                    <br />

                    <div class="submit-button">
                      <button type="submit" (click)="createUser(f)" class="btn btn-primary" name="submit" id="submit">
                        Submit
                      </button>
                    </div>
                  </div>
                  <!--card-body-->
                </form>
              </div>
              <!--card card-primary-->
            </div>
            <!--container-fluid-->
          </section>
          <!--section2-->
        </div>
      </div>
      <!--row1-->
    </div>
    <!--col-md-10offset-md-1-->
  </div>
  <!--main content row-->
</div>
<!--content-wrapper-->