<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Manage Class Timetable</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Manage Class Timetable</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">Class Timetable</h5>
                          </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 sub-form">
                                                <div class="card-header">
                                                    <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Setup Class</h3>
                                                </div>
                                                <div class="inner-row">
                                                  <div class="form-group row">
                                                      <label for="coursetype" class="col-sm-2 control-label">Course Type</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="coursetype" id="coursetype">
                                                                  <option selected="selected">VET</option>
                                                                  <option>Mrs</option>
                                                                  <option>Miss</option>
                                                                  <option>Ms</option>
                                                                  <option>Dr</option>
                                                                  <option>Rev</option>
                                                                  <option>Hon</option>
                                                                  <option>Etc</option>
                                                                  <option>Not Specified</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="semester" class="col-sm-2 control-label">Semester</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="semester" id="semester">
                                                                  <option selected="Term 3,2020_3">Term 3,2020_3</option>
                                                                  <option>Mrs</option>
                                                                  <option>Miss</option>
                                                                  <option>Ms</option>
                                                                  <option>Dr</option>
                                                                  <option>Rev</option>
                                                                  <option>Hon</option>
                                                                  <option>Etc</option>
                                                                  <option>Not Specified</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="startweek" class="col-sm-2 control-label">Start Week</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="startweek" id="startweek">
                                                                  <option selected="selected">WeekID:6:10 Aug 2020:(Term:1)</option>
                                                                  <option>Mrs</option>
                                                                  <option>Miss</option>
                                                                  <option>Ms</option>
                                                                  <option>Dr</option>
                                                                  <option>Rev</option>
                                                                  <option>Hon</option>
                                                                  <option>Etc</option>
                                                                  <option>Not Specified</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="assessor" class="col-sm-2 control-label">Assessor</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group"> 
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="assessor" id="assessor">
                                                                    <option selected="selected">--Unassigned----</option>
                                                                    <option>WeekID:6:10 Aug 2020:(Term:1)</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                              </select>
                                                              <div class="form-check cboxtext">
                                                                  <input class="form-check-input" type="checkbox" name="checkbox1" id="checkbox1" value="cbox1">
                                                                  <label class="form-check-label">Create assessments for this class</label>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
      
                                                  <div class="form-group row">
                                                      <label for="calendartype" class="col-sm-2 control-label">Calendar Type</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="calendartype" id="calendartype">
                                                                  <option selected="selected">Calendar Set1</option>
                                                                  <option>Mrs</option>
                                                                  <option>Miss</option>
                                                                  <option>Ms</option>
                                                                  <option>Dr</option>
                                                                  <option>Rev</option>
                                                                  <option>Hon</option>
                                                                  <option>Etc</option>
                                                                  <option>Not Specified</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="term" class="col-sm-2 control-label">Term</label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="term" id="term">
                                                                  <option selected="selected">1</option>
                                                                  <option>2</option>
                                                                  <option>3</option>
                                                                  <option>4</option>
                                                                  <option>5</option>
                                                                  <option>6</option>
                                                                  <option>7</option>
                                                                  <option>8</option>
                                                                  <option>9</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="endweek" class="col-sm-2 control-label">End Week</label>
                                                      
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="endweek" id="endweek">
                                                                  <option selected="selected">WeekID:6:16 Aug 2020:(Term:1)</option>
                                                                  <option>Mrs</option>
                                                                  <option>Miss</option>
                                                                  <option>Ms</option>
                                                                  <option>Dr</option>
                                                                  <option>Rev</option>
                                                                  <option>Hon</option>
                                                                  <option>Etc</option>
                                                                  <option>Not Specified</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div><!--inner-row-->
                                            </div><!--col-md-12 sub-form-->
                                        </div> <!--row1-->


                                        <div class="row">
                                            <div class="col-md-12 sub-form">
                                                <div class="card-header">
                                                    <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Setup Classmode</h3>
                                                </div>
                                                <div class="inner-row">
                                                    <div class="form-group row">
                                                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="subject" id="subject">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>BSBADM502:Manage meetings</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="day" class="col-sm-2 control-label alignStart">Day</label>
                                                        <div class="col-sm-10">
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox1" value="option1">
                                                                <label class="form-check-label">Monday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox2" value="option2">
                                                                <label class="form-check-label">Thursday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox3" value="option3">
                                                                <label class="form-check-label">Sunday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox4" value="option4">
                                                                <label class="form-check-label">Tuesday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox5" value="option5">
                                                                <label class="form-check-label">Friday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox6" value="option6">
                                                                <label class="form-check-label">Wednesday</label>
                                                            </div>
                                                            <div class="form-check cbox">
                                                                <input class="form-check-input" type="checkbox" name="day[]" id="checkbox7" value="option7">
                                                                <label class="form-check-label">Saturday</label>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label for="batch" class="col-sm-2 control-label">Use Default Timetables?</label>
                                                        <div class="col-sm-10">
                                                            <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="batch" id="statusyes" value="batch" checked>
                                                            <label class="form-check-label">Yes</label>
                                                            </div>
                            
                                                            <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="batch" id="statusno" value="batch">
                                                            <label class="form-check-label">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="teacher" class="col-sm-2 control-label">Teacher</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="teacher" id="teacher">
                                                                    <option selected="selected">--Unassigned--</option>
                                                                    <option>College Administration</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="finishtime" class="col-sm-2 control-label">Finish Time</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="finishtime" id="finishtime">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>BSBADM502:Manage meetings</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="attendancetype" class="col-sm-2 control-label">Attendance Type</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="attendancetype" id="attendancetype">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>Two-Hourly</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="classtype" class="col-sm-2 control-label">Class Type</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="classtype" id="classtype">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>Class</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="venue" class="col-sm-2 control-label">Venue / Room</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="venue" id="venue">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>(NSW) SevenHills>> 1:Diploma of Business(50 seats)</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="classcapacity" class="col-sm-2 control-label">Class Capacity</label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="classcapacity" id="classcapacity">
                                                                    <option selected="selected">--Select Option--</option>
                                                                    <option>50 seats</option>
                                                                    <option>College Administration</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="form-group row">
                                                        <label for="batch" class="col-sm-2 control-label">Batch<span class="star">*</span></label>
                                                        <div class="col-sm-10">
                                                            <div class="cbox-row">
                                                                <div class="form-check col-sm-3 bacth">
                                                                    <input class="form-check-input" type="radio" name="batch[]" id="statusyes" value="batch" checked>
                                                                    <label class="form-check-label">New Batch</label>
                                                                </div>
                                                                <div class="form-check col-sm-3  bacth">
                                                                    <input class="form-check-input" type="radio" name="batch[]" id="statusno" value="batch">
                                                                    <label class="form-check-label">Existing Batch</label>
                                                                </div>
                                                                <div class="form-check col-sm-6 bacth">
                                                                    <input class="form-control" type="text" name="batch" id="batch" placeholder="Enter batch" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--inner-row-->
                                            </div><!--col-md-12 sub-form-->
                                        </div> <!--row2-->
                                    </div> <!--col-md-12-->
                                </div><!--main-row-->
                                
                                <br>
                            <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="add" id="add">Add New Class</button>
                            </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content-wrapper-->


   