<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
          <h3 class="page-heading">Create Course</h3>
        </div>
        <div class="col-sm-12 text-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Create Course
            </li>
          </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <!-- left column -->
        <div class="col-md-10 offset-md-1">
          <!-- general form elements -->
          <div class="card card-primary mb-0">
            <div class="card-header">
              <h5 class="card-title">Create Course</h5>
            </div>
            <form #f="ngForm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="card-header">
                          <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Course
                            Information</h3>
                        </div>
                        <div class="inner-row">
                          <div class="row">
                            <div class="col-md-6">

                              <div class="form-group row">
                                <label for="courseName" class="col-sm-4 control-label">Course Name<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="courseName" id="courseName"
                                      [(ngModel)]='courseName' placeholder="Enter course name here" required>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="courseCode" class="col-sm-4 control-label">Course Code<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="courseCode" id="courseCode"
                                      [(ngModel)]='courseCode' placeholder="Enter course code here" required>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="nationalCode" class="col-sm-4 control-label">National Code</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="nationalCode" id="nationalCode"
                                      [(ngModel)]='nationalCode' placeholder="Enter national code here">
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="duration" class="col-sm-4 control-label">Duration<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="duration" id="duration"
                                      [(ngModel)]='duration' placeholder="Enter Course Duration" required>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <!--col-md-6-->

                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="moduleDelivery" class="col-sm-4 control-label">Module Delivery?</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="moduleDelivery"
                                      id="moduleDelivery1" value="1" [(ngModel)]='moduleDelivery'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="moduleDelivery"
                                      id="moduleDelivery2" value="0" [(ngModel)]='moduleDelivery'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="isSuperseded" class="col-sm-4 control-label alignStart">Is
                                  Superseded?</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="isSuperseded" id="isSuperseded1"
                                      value="1" [(ngModel)]='isSuperseded'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="isSuperseded" id="isSuperseded2"
                                      value="0" [(ngModel)]='isSuperseded'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="cricosCode" class="col-sm-4 control-label alignStart">Crisco Code</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="cricosCode" id="cricosCode"
                                      [(ngModel)]='cricosCode' placeholder="Enter crisco code here">
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="courseduration" class="col-sm-4 control-label">Duration Unit<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="durationUnit" id="durationUnit"
                                      [(ngModel)]='durationUnit' placeholder="Enter Course Duration" required>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <!--col-md-6-->
                          </div>

                          <!--form-group-row-->
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="deliveryTarget" class="col-sm-4 control-label">Delivery Target</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="deliveryTarget" id="deliveryTarget"
                                      [(ngModel)]='deliveryTarget' placeholder="Enter delivery target">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row bottomzero">
                                <label for="internationTutionFees" class="col-sm-4 control-label">International Tution
                                  Fee</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="internationTutionFees"
                                      id="internationTutionFees" [(ngModel)]='internationTutionFees' placeholder="0.00">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="faculty" class="col-sm-4 control-label alignStart">Faculty</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="faculty" id="faculty"
                                      [(ngModel)]='faculty' placeholder="Enter Faculty">
                                  </div>
                                </div>

                              </div>
                              <div class="form-group row bottomzero">
                                <label for="qualificationPrerequisite" class="col-sm-4 control-label">Qualification
                                  Prerequisite</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="qualificationPrerequisite"
                                      id="qualificationPrerequisite" [(ngModel)]='qualificationPrerequisite'
                                      placeholder="Enter Qualification Prerequisite">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="courseStartDate" class="col-sm-4 control-label">Course Start
                                  Date</label>
                                <div class="col-sm-8" id="reservationdate" data-target-input="nearest">
                                  <input type="date" class="form-control datetimepicker-input" name="courseStartDate"
                                    id="courseStartDate" [(ngModel)]='courseStartDate' data-target="#reservationdate"
                                    placeholder="27/7/2020">
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->

                            <div class="col-md-6">
                              <div class="form-group row bottomzero">
                                <label for="maximumWeeklyStudy" class="col-sm-4 control-label">Maximum Weekly
                                  Study</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="maximumWeeklyStudy"
                                      id="maximumWeeklyStudy" [(ngModel)]='maximumWeeklyStudy'
                                      placeholder="Enter maximum weekly study">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row bottomzero">
                                <label for="domesticTutionFees" class="col-sm-4 control-label">Domestic Tution
                                  Fee</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="domesticTutionFees"
                                      id="domesticTutionFees" [(ngModel)]='domesticTutionFees'
                                      placeholder="Enter domestic tuition fee">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="department" class="col-sm-4 control-label alignStart">Department</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="department" id="department"
                                      [(ngModel)]='department' placeholder="Enter department">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="major" class="col-sm-4 control-label">Major</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="major" id="major" [(ngModel)]='major'
                                      placeholder="Enter Major Course Name">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="courseEndDate" class="col-sm-4 control-label">Course End
                                  Date</label>
                                <div class="col-sm-8" id="reservationdate" data-target-input="nearest">
                                  <input type="date" class="form-control datetimepicker-input" name="courseEndDate"
                                    id="courseEndDate" [(ngModel)]='courseEndDate' data-target="#reservationdate"
                                    placeholder="27/7/2020">
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->
                          </div>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!--row1-->

                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="card-header">
                          <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Specific
                            Information</h3>
                        </div>
                        <div class="inner-row">
                          <div class="form-group row">
                            <label for="resultCalculationMethod" class="col-sm-3 control-label">Results Calculation
                              Method</label>
                            <div class="col-sm-9">
                              <div class="input-group">
                                <input class="form-control" type="text" name="resultCalculationMethod"
                                  id="resultCalculationMethod" [(ngModel)]='resultCalculationMethod'
                                  placeholder="Enter result calculation method">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-7">
                              <div class="form-group row">
                                <label for="hasWorkPlacement" class="col-sm-4 control-label">Has Work Placement</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="hasWorkPlacement"
                                      id="hasWorkPlacement1" value="1" [(ngModel)]='hasWorkPlacement'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="hasWorkPlacement"
                                      id="hasWorkPlacement2" value="0" [(ngModel)]='hasWorkPlacement'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="flexibleTimetable" class="col-sm-4 control-label">Flexible Timetable</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="flexibleTimetable"
                                      id="flexibleTimetable1" value="1" [(ngModel)]='flexibleTimetable'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="flexibleTimetable"
                                      id="flexibleTimetable2" value="0" [(ngModel)]='flexibleTimetable'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group row">
                                <label for="courseLevel" class="col-sm-4 control-label">Course Level</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="courseLevel" id="courseLevel1"
                                      value="1" [(ngModel)]='courseLevel'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="courseLevel" id="courseLevel2"
                                      value="0" [(ngModel)]='courseLevel'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="activatedNow" class="col-sm-4 control-label">Activated Now</label>
                                <div class="col-sm-8">
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="activatedNow" id="activatedNow1"
                                      value="1" [(ngModel)]='activatedNow'>
                                    <label class="form-check-label">Yes</label>
                                  </div>
                                  <div class="form-check radio">
                                    <input class="form-check-input" type="radio" name="activatedNow" id="activatedNow2"
                                      value="0" [(ngModel)]='activatedNow'>
                                    <label class="form-check-label">No</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!--row2-->

                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="card-header">
                          <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>AVETMISS
                            Information</h3>
                        </div>
                        <div class="inner-row">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="avetmissCourseRecognitionId" class="col-sm-4 control-label">Course
                                  Recognition</label>
                                <div class="col-sm-8">
                                  <select [(ngModel)]="avetmissCourseRecognitionId"
                                    class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                    name="avetmissCourseRecognitionId" id="avetmissCourseRecognitionId">
                                    <option *ngFor="let avetcourserecog of getavetmisscourserecognition"
                                      [value]="avetcourserecog.avetmissCourseRecognitionId" selected="selected">
                                      {{ avetcourserecog.avetmissCourseRecognitionDesc }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="avetmissLevelOfEducationId" class="col-sm-4 control-label">Level of
                                  Education</label>
                                <div class="col-sm-8">
                                  <select [(ngModel)]="avetmissLevelOfEducationId"
                                    class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                    name="avetmissLevelOfEducationId" id="avetmissLevelOfEducationId">
                                    <option *ngFor="let avetlevelofedu of getavetmisslevelofeducation"
                                      [value]="avetlevelofedu.avetmissLevelOfEducationId" selected="selected">
                                      {{ avetlevelofedu.avetmissLevelOfEducationDesc }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="avetmissFieldOfEducationId" class="col-sm-4 control-label">Field of
                                  Education</label>
                                <div class="col-sm-8">
                                  <select [(ngModel)]="avetmissFieldOfEducationId"
                                    class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                    name="avetmissFieldOfEducationId" id="avetmissFieldOfEducationId">
                                    <option *ngFor="let avetfieldofedu of getavetmissfieldofeducation"
                                      [value]="avetfieldofedu.avetmissfieldOfEducationId" selected="selected">
                                      {{ avetfieldofedu.Descriptions }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="avetmissANZSCOId" class="col-sm-4 control-label">ANZSCO Code</label>
                                <div class="col-sm-8">
                                  <select [(ngModel)]="avetmissANZSCOId" class="form-control select2 select2-danger"
                                    data-dropdown-css-class="select2-danger" name="avetmissANZSCOId"
                                    id="avetmissANZSCOId">
                                    <option *ngFor="let avetanzco of getavetmissanzsco"
                                      [value]="avetanzco.avetmissANZSCOId" selected="selected">
                                      {{ avetanzco.avetmissANZSCOCode }} - {{ avetanzco.Descriptions }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row bottomzero">
                                <label for="avetmissTotalNominalHours" class="col-sm-4 control-label">Total Nominal
                                  Hours</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="avetmissTotalNominalHours"
                                      id="avetmissTotalNominalHours" [(ngModel)]='avetmissTotalNominalHours'
                                      placeholder="Enter nominal hours">
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="avetmissReport" class="col-sm-4 control-label">AVETMISS Report</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input class="form-control" type="text" name="avetmissReport" id="avetmissReport"
                                      [(ngModel)]='avetmissReport' placeholder="Enter AVETMISS report">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->
                          </div>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!--row3-->


                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="card-header">
                          <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Additional
                            Information</h3>
                        </div>
                        <div class="inner-row">
                          <span class="text-star">NO OTHER DETAILS FOUND</span>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!--row4-->

                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="card-header">
                          <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Course
                            Description</h3>
                        </div>
                        <div class="inner-row">
                          <textarea class="form-control" rows="3" placeholder="Enter course description"
                            name="courseDescriptin" id="courseDescriptin" [(ngModel)]='courseDescriptin'></textarea>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!--row5-->

                  </div>
                  <!--main-column-->
                </div>
                <!--main-row-->

                <br>
                <div class="submit-button">
                  <button type="submit" (click)="createCourse(f)" class="btn btn-success" name="create"
                    id="create">Create</button>
                </div>

              </div>
            </form>

          </div>
          <!--card card-primary-->

        </div>
        <!--col-md-6 offset-md-2-->

      </div>
      <!--row-->

    </div>
    <!--container-fluid-->

  </section>
  <!--section2-->

</div>
<!--content-wrapper-->