<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Service Provider Setup</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Service Provider Setup</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
</section>

    <!-- Main content -->
    <div class="row p-0 m-0">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-12">
            <section class="content">
              <div class="container-fluid">
                  <!-- general form elements -->
                  <div class="card card-primary mb-0">
                    <div class="card-header">
                      <h5 class="card-title">Service Provider Details</h5>
                    </div>
                      <!-- form start -->
                      <form role="form">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12 sub-form">
                              <div class="inner-row">
                                <div class="form-group row">
                                  <label for="spcn" class="col-sm-3 control-label">Service Provider Company Name<span class="star">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="text" name="spcn" id="spcn" placeholder=" Enter service provider company name" required>
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="contactname" class="col-sm-3 control-label">Contact Name</label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="text" name="contactname" id="contactname" placeholder=" Enter contact name">
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="country" class="col-sm-3 control-label">Country</label>
                                  <div class="col-sm-9">
                                    <select class="form-control" name="country" id="country">
                                      <option selected="selected" value="Australia">Australia</option>
                                      <option value="America">America</option>
                                      <option value="Europe">Europe</option>
                                      <option value="Brazil">Brazil</option>
                                      <option value="500">500</option>
                                      <option value="600">600</option>
                                      <option value="700">700</option>
                                      <option value="800">800</option>
                                      <option value="900">900</option>
                                    </select>
                                  </div>
                                </div>
                                      
                                <div class="form-group row">
                                  <label for="companyaddress" class="col-sm-3 control-label">Company Address<span class="star">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="text" name="companyaddress" id="companyaddress" placeholder=" Enter company address" required>
                                  </div>
                                </div>
                                  
                          
                                <div class="form-group row">
                                  <label for="companysuburb" class="col-sm-3 control-label">Company Suburb<span class="star">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="text" name="companysuburb" id="companysuburb" placeholder=" Enter company suburb" required>
                                  </div>
                                </div>
                          
                          
                                <div class="form-group row">
                                  <label for="compantstate" class="col-sm-3 control-label" >Comapny State</label>
                                  <div class="col-sm-9">
                                    <select class="form-control" name="compantstate" id="compantstate">
                                      <option selected="selected" value="NSW">NSW</option>
                                      <option value="America">America</option>
                                      <option value="Europe">Europe</option>
                                      <option value="Brazil">Brazil</option>
                                      <option value="500">500</option>
                                      <option value="600">600</option>
                                      <option value="700">700</option>
                                      <option value="800">800</option>
                                      <option value="900">900</option>
                                    </select>
                                  </div>
                                </div>
                                    
                                <div class="form-group row">
                                  <label for="postcode" class="col-sm-3 control-label">Postcode</label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="number" name="postcode" id="postcode" placeholder="Enter postcode">
                                  </div>
                                </div>
                          
                          
                                <div class="form-group row">
                                  <label for="companyphone" class="col-sm-3 control-label">Company Phone<span class="star">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="tel" name="companyphone" id="companyphone" placeholder=" Enter company phone number" required>
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="mobile" class="col-sm-3 control-label">Mobile</label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="tel" name="mobile" id="mobile" placeholder=" Enter mobile number">
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="companyfax" class="col-sm-3 control-label">Company Fax</label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="tel" name="companyfax" id="companyfax" placeholder=" Enter company fax">
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="email" class="col-sm-3 control-label">Email<span class="star">*</span></label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="email" name="email" id="email" placeholder=" Enter company email" required>
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="website" class="col-sm-3 control-label ">Website</label>
                                  <div class="col-sm-9">
                                    <input class="form-control" type="url" name="website" id="website" placeholder=" https://">
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="comment" class="col-sm-3 control-label alignStart">Comment</label>
                                  <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" placeholder="Enter comment" name="comment" id="comment"></textarea>
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="internalcomment" class="col-sm-3 control-label alignStart">Internal Comment</label>
                                  <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" placeholder="Enter internal comment" name="internalcomment" id="internalcomment"></textarea>
                                  </div>
                                </div>
                          
                                <div class="form-group row">
                                  <label for="otherdetails" class="col-sm-3 control-label alignStart">Other Details</label>
                                  <div class="col-sm-9">
                                    <textarea class="form-control" rows="3" placeholder="Enter other details" name="otherdetails" id="otherdetails"></textarea>
                                  </div>
                                </div>
                              </div><!--inner-row-->
                            </div> <!--col-md-12 sub-form-->
                          </div>
                                                            
                          <br>
      
                          <div class="submit-button">
                            <button type="submit" class="btn btn-success" name="add" id="add">Add Service Provider</button>
                            <button type="button" class="btn btn-warning" name="reset" id="reset">Reset Data</button>
                            <button type="button" class="btn btn-danger" name="close" id="close">Close Panel</button>
                        </div> 
                        </div> <!--card-body-->
                      </form>     
                  </div> <!--card card-primary-->
                 
                </div> <!--container-fluid-->     
            </section> <!--section2-->
          </div>
        </div> <!--row1-->


        <div class="row">
            <div class="col-md-12">
                <section class="content">
                    <div class="container-fluid">
                        <!-- general form elements -->
                        <div class="card card-primary mb-0">
                          <div class="card-header">
                            <h5 class="card-title">View Service Provider List</h5>
                          </div>
                            <!-- form start -->
                            <form role="form">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                          <div class="form-group row">
                                            <label for="search" class="col-sm-3 label">Search Service Provider By</label>
                                            <div class="col-sm-7">
                                              <select class="form-control" name="search" id="search">
                                                  <option selected="selected" value="All Service Provider">All Service Provider</option>
                                                  <option value="All Service Provider">All Service Provider</option>
                                                  <option value="NT">NT</option>
                                                  <option value="QLD">QLD</option>
                                                  <option value="SA">SA</option>
                                                  <option value="TAS">TAS</option>
                                                  <option value="VIC">VIC</option>
                                                  <option value="WA">WA</option>
                                                  <option value="Other - Overseas">Other - Overseas</option>
                                                </select>
                                              </div>
                                              <div class="col-sm-2">
                                                <button type="submit" class="btn btn-success" name="searchservicebtn" id="searchservicebtn">Search</button>

                                              </div>
                                          </div>
                                        </div><!--inner-row-->
                                      </div><!--col-md-12 sub-form-->
                                  </div>
                              </div><!--card-body-->
                            </form>  
                        </div> <!--card card-primary-->
                       
                    </div> <!--container-fluid-->     
                </section> <!--section3-->
            </div>
            
        </div> <!--row2-->
      </div>
    </div>
   
</div> <!--content-wrapper-->


   