<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
          <h3 class="page-heading">Change Password</h3>
        </div>
        <div class="col-sm-12 text-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Change Password</li>
          </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section> 

    <!-- Main content -->
    <div class="row p-0 m-0">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                    <section class="content">
                        <div class="container-fluid">
                        <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h5 class="card-title">Change Password</h5>
                              </div>
                            <!-- form start -->
                            <form role="form">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-md-12">
                                        <div class="inner-row">
                                          <div class="form-group row">
                                            <label for="password" class="col-sm-3 control-label">Password</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="password" name="password" id="password" placeholder="Enter old password">
                                            </div>
                                          </div>
                    
                                          <div class="form-group row">
                                            <label for="newpassword" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="Enter new password">
                                            </div>
                                          </div>
                    
                                          <div class="form-group row">
                                            <label for="confirmnewpass" class="col-sm-3 control-label">Confirm New Password</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="password" name="confirmnewpass" id="confirmnewpass" placeholder="Repeat password">
                                            </div>
                                          </div>
                                        </div> <!--inner-row-->
                                      </div>
                                  </div>
                                                                  
                                  <br>
                                  <div class="submit-button">
                                      <button type="submit" class="btn btn-success" name="changebtn" id="changebtn">Change Password</button>
                                      <button type="submit" class="btn btn-warning" name="cancelbtn" id="cancelbtn">Cancel</button>
                                  </div>
                              </div> <!--card-body-->
                          </form> 
                                    
                            </div> <!--card card-primary-->
                        </div> <!--container-fluid-->     
                    </section> <!--section2-->
                </div>
            </div> <!--row1-->

            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <section class="content">
                        <div class="container-fluid">
                            <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h5 class="card-title">Reset Security Question & Answer</h5>
                              </div>
                                <!-- form start -->
                                <form role="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                              <div class="inner-row">
                                                <span class="form-subtitle"> <b>This question and answer will be used when you forget your password.Please remember your question & answer. You can reset your own security question & answer at any time.</b></span>
                                                <br>
                                                <br>

                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group row">
                                                          <label for="currentpassword" class="col-sm-3 control-label">Current Password<span class="star">*</span></label>
                                                          <div class="col-sm-9">
                                                            <input class="form-control" type="password" name="currentpassword" id="currentpassword" placeholder="" required>
                                                          </div>
                                                        </div>
                                                    
                                                        <div class="form-group row">
                                                          <label for="securityquestion" class="col-sm-3 control-label">Security Question</label>
                                                          <div class="col-sm-9">
                                                            <select class="form-control" name="securityquestion" id="securityquestion">
                                                              <option selected="selected" value="What is your staff number?">What is your staff number?</option>
                                                              <option value="What is your staff number?">What is your staff number?</option>
                                                              <option value="NT">NT</option>
                                                              <option value="QLD">QLD</option>
                                                              <option value="SA">SA</option>
                                                              <option value="TAS">TAS</option>
                                                              <option value="VIC">VIC</option>
                                                              <option value="WA">WA</option>
                                                              <option value="Other - Overseas">Other - Overseas</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                          
                                                        <div class="form-group row">
                                                          <label for="securityanswer" class="col-sm-3 control-label">Security Answer <span class="star">*</span></label>
                                                          <div class="col-sm-9">
                                                            <input class="form-control" type="text" name="securityanswer" id="securityanswer" placeholder="" required>
                                                          </div>
                                                        </div>
                                                  </div>
                                              </div>
                                              </div><!--inner-row-->
                                            </div>
                                        </div>
                                        
                                        <div class="submit-button">
                                            <button type="submit" class="btn btn-danger" name="resetbtn" id="resetbtn">Reset</button>
                                        </div>
                                    </div><!--card-body-->
                                </form>  
                            </div> <!--card card-primary-->
                        </div> <!--container-fluid-->     
                    </section> <!--section3-->
                </div> 
            </div> <!--row2-->
      </div>
    </div>
</div> <!--content-wrapper-->


   