<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Manage Contract Schedule</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Manage Contract Schedule</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h4 class="card-title">Add New Contract Schedule</h4>
                        </div>
                        <form role="form">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-12 sub-form">
                                <div class="inner-row">
                                  <div class="form-group row">
                                    <label for="clenderType" class="col-sm-3 control-label">Contract Code<span class="star">*</span></label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="clenderType" id="clenderType" required>
                                              <option selected="selected">---- Select Option ----</option>
                                              <option>No Contract</option>
                                              <option>No Contract</option>
                                              <option>No Contract</option>
                                              <option>No Contract</option>
                                            </select>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="state" class="col-sm-3 control-label">State</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="state" id="state" style="width: 100%;">
                                              <option selected="selected">---- Select Option ----</option>
                                              <option>All</option>
                                              <option>All</option>
                                              <option>All</option>
                                              <option>All</option>
                                            </select>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="FundingSource" class="col-sm-3 control-label">Funding Sorce</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="FundingSource" id="FundingSource">
                                              <option selected="selected">--Select Option----</option>
                                              <option>ACT: AAP -Australia Apprenticeships</option>
                                              <option>ACT: AAP -Australia Apprenticeships</option>
                                              <option>ACT: AAP -Australia Apprenticeships</option>
                                              <option>ACT: AAP -Australia Apprenticeships</option>
                                            </select>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="ContractCode" class="col-sm-3 control-label">Contract Code</label>
                                    <div class="col-sm-9">
                                      <div class="input-group">
                                        <input class="form-control" type="text" name="ContractCode" id="ContractCode" placeholder="Enter Contract Code here">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="ScheduleDescription" class="col-sm-3 control-label alignStart">Schedule Description</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="3" name="ScheduleDescription" id="ScheduleDescription" placeholder="Enter Schedule Description..."></textarea>
                                          </div>
                                    </div>
                                  </div>
                                </div><!--inner-row-->
                              </div> <!--col-md-12 sub-form-->
                            </div> 
                            <div class="submit-button">
                              <button type="submit" class="btn btn-success" name="add" id="add">Add</button>
                            </div>                          
                          </div><!--card-body-->
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div><!--content-wrapper-->


   