<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Manage Course Initial</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Manage Course Initial</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

  
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h5 class="card-title">Manage Course Initial/ Upfront Fee/ Material Fee</h5>
                      </div> 
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="coursetype" class="col-sm-3 control-label">Select Course Type</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="coursetype" id="coursetype">
                                              <option selected="selected" value="VET">VET</option>
                                              <option value="All Teachers">All Teachers</option>
                                              <option value="NT">NT</option>
                                              <option value="QLD">QLD</option>
                                              <option value="SA">SA</option>
                                              <option value="TAS">TAS</option>
                                              <option value="VIC">VIC</option>
                                              <option value="WA">WA</option>
                                              <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
                                          </div>
                                      </div>
                
                                        <div class="form-group row">
                                          <label for="coursestatus" class="col-sm-3 control-label" >Course Status</label>
                                          <div class="col-sm-9">
                                              <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="coursestatus" id="coursestatus1" value="coursestatus1" checked>
                                                  <label class="form-check-label">Active Only</label>
                                                </div>
                                                <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="coursestatus" id="coursestatus2" value="coursestatus2">
                                                  <label class="form-check-label">Inactive Only</label>
                                                </div>
                                                <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="coursestatus" id="coursestatus3" value="coursestatus3">
                                                  <label class="form-check-label">All</label>
                                                </div>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="coursename" class="col-sm-3 control-label" >Select Course</label>
                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="coursename" id="coursename">
                                                <option selected="selected">--Select Option----</option>
                                                <option>BSB50215 : Diploma of Business</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="selectorigin" class="col-sm-3 control-label alignStart">Select Origin</label>
                                          <div class="col-sm-9">
                                              <div class="form-check cbox">
                                                  <input class="form-check-input" type="checkbox" name="selectorigin[]" id="checkbox1" value="cbox1">
                                                  <label class="form-check-label" >Overseas Student(Offshore)</label>
                                              </div>
                                              <div class="form-check  cbox">
                                                  <input class="form-check-input" type="checkbox" name="selectorigin[]" id="checkbox1" value="cbox2" >
                                                  <label class="form-check-label" >Overseas Student in Australia(Onshore) </label>
                                              </div>
                                              <div class="form-check  cbox">
                                                  <input class="form-check-input" type="checkbox" name="selectorigin[]" id="checkbox1" value="cbox3" >
                                                  <label class="form-check-label" >Residesnt Student(Domestic) </label>
                                              </div>
                                          </div>
                                        </div>
                                            
                                        <div class="form-group row">
                                          <label for="coursefee" class="col-sm-3 control-label" >Course Fee(AUD)</label>
                                          <div class="col-sm-9">
                                              <span class="textgreen">16000.00</span>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="courseduration" class="col-sm-3 control-label" >Course Duration</label>
                                          <div class="col-sm-9">
                                              <span class="textgreen">52 weeks(s)</span>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="selectagent" class="col-sm-3 control-label">Select Agent</label>
                                          <div class="col-sm-9">
                                            <div class="input-group" >
                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="selectagent" id="selectagent">
                                                <option selected="selected">All</option>
                                                <option>BSB50215 : Diploma of Business</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="upfrontfee" class="col-sm-3 control-label" >Upfront Fee(AUD)<span class="star">*</span></label>
                                          <div class="col-sm-9"> 
                                            <div class="input-group">
                                              <input class="form-control" type="text" name="upfrontfee" id="upfrontfee"  placeholder="Enter upfront fee here" required>
                                            </div>         
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="frequencyduration" class="col-sm-3 control-label">Frequency Duration</label>
                                          <div class="col-sm-7"> 
                                            <div class="input-group">
                                              <input class="form-control" type="text" name="frequencyduration" id="frequencyduration"  placeholder="Enter frquency duration" >
                                            </div>
                                          </div>
                                          <div class="col-sm-2 textfield">
                                              <span class="">Week(s)</span>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="installments" class="col-sm-3 control-label">No of Additional Installments</label>
                                          <div class="col-sm-9">
                                            <div class="input-group" >
                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="installments" id="installments">
                                                <option selected="selected">1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                
                                        <div class="form-group row">
                                          <label for="materialfee" class="col-sm-3 control-label">Material Fee</label>
                                          <div class="col-sm-9">
                                            <div class="input-group" >
                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="materialfee" id="materialfee">
                                                <option selected="selected">0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row1-->
                                <br>

                                <!--submit option-->
                                <div class="submit-button">
                                  <button type="submit" class="btn btn-success" name="add" id="add">Add</button>
                                  <button type="submit" class="btn btn-danger" name="clear" id="clear">Clear</button>
                              </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
  </div> <!--content-wrapper-->
  
  
   