<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Add/ Update Students Attendance by Subject</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Add/ Update Students Attendance by Subject</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">Add/ Update Students Attendance</h5>
                      </div> 
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="coursetype" class="col-sm-3 control-label">Course Type</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="coursetype" id="coursetype" >
                                              <option selected="selected" value="VET">VET</option>
                                              <option value="one">one</option>
                                              <option value="Two">Two</option>
                                              <option value="Three">Three</option>
                                              <option value="Four">Four</option>
                                              <option value="Five">Five</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="CourseStatus" class="col-sm-3 control-label">Course Status</label>
                                          <div class="col-sm-9">
                                            <div class="form-check radio">
                                              <input class="form-check-input" type="radio" name="CourseStatus" id="CourseStatus1" value="CourseStatus1" checked>
                                              <label class="form-check-label">Active</label>
                                            </div>
                                            <div class="form-check radio">
                                              <input class="form-check-input" type="radio" name="CourseStatus" id="CourseStatus2" value="CourseStatus2">
                                              <label class="form-check-label">Inactive</label>
                                            </div>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="course" class="col-sm-3 control-label">Course<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="course" id="course" required>
                                              <option selected="selected" value="2020-VET ">BSB50215: Diploma in business</option>
                                              <option value="Diploma in business One">Diploma in business One</option>
                                              <option value="Diploma in business Two">Diploma in business Two</option>
                                              <option value="Diploma in business Three">Diploma in business Three</option>
                                              <option value="Diploma in business Four">Diploma in business Four</option>
                                              <option value="Diploma in business Five">Diploma in business Five</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="Subject" class="col-sm-3 control-label">Subject<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="Subject" id="Subject" required>
                                              <option selected="selected" value="BSBADM502 : Manage meetings ">BSBADM502: Manage meetings</option>
                                              <option value="Manage meetings">Manage meetings</option>
                                              <option value="Manage meetings">Manage meetings</option>
                                              <option value="Manage meetings">Manage meetings</option>
                                              <option value="Manage meetings">Manage meetings</option>
                                              <option value="Manage meetings">Manage meetings</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="year" class="col-sm-3 control-label">Year</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="year" id="year">
                                              <option selected="selected" value="2020">2020</option>
                                              <option value="2019">2019</option>
                                              <option value="2018">2018</option>
                                              <option value="2017">2017</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="semester" class="col-sm-3 control-label">Semester<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="semester" id="semester" required>
                                              <option selected="selected" value="Term 3,2020_3">Term 3,2020_3</option>
                                              <option value="Term 4,2020_4">Term 4,2020_4</option>
                                              <option value="Term 5,2020_5">Term 5,2020_5</option>
                                              <option value="Term 6,2020_6">Term 6,2020_6</option>
                                              <option value="Term 7,2020_7">Term 7,2020_7</option>
                                              <option value="Term 8,2020_8">Term 8,2020_8</option>
                                              <option value="Term 9,2020_9">Term 9,2020_9</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="term" class="col-sm-3 control-label">Term</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="term" id="term">
                                              <option selected="selected" value="Term 3">Term 3</option>
                                              <option value="Term 4">Term 4</option>
                                              <option value="Term 5">Term 5</option>
                                              <option value="Term 6">Term 6</option>
                                              <option value="Term 7">Term 7</option>
                                              <option value="Term 8">Term 8</option>
                                              <option value="Term 9">Term 9</option>
                                            </select>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="AttendanceDate" class="col-sm-3 control-label" >Attendance date</label> 
                                          <div class="col-sm-9" id="AttendanceDate" data-target-input="nearest">          
                                            <input type="date" class="form-control datetimepicker-input" name="AttendanceDate" id="AttendanceDate"  data-target="#reservationdate" placeholder="27/7/2020">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="class" class="col-sm-3 control-label">Class</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="class" id="class">
                                              <option selected="selected" value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                              <option value="No Batch">No Batch</option>
                                            </select>
                                          </div>
                                          <div class="col-sm-3">
                                          </div>
                                      </div>
                                      </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row-->
                                <br>
                                <div class="submit-button">
                                    <button type="button" class="btn btn-info" name="update" id="update">Update Class List</button>
                                    <button type="submit" class="btn btn-success" name="view" id="view">View Student List</button>
                                </div> 
                                                             
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>
