<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Add Subject</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Add Subject</li>
            </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-7 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">Add Subject Details</h5>
                      </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="selectsub" class="col-sm-3 control-label">Select subject</label>
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="selectsub" id="selectsub">
                                                    <option selected="selected">--Select Option----</option>
                                                    <option>BSBCRT501: Originate and develope concept</option>
                                                    <option>Do you want to pay more than 50% upfront fee?</option>
                                                    <option>Do you want to pay more than 50% upfront fee?</option>
                                                    <option>Do you want to pay more than 50% upfront fee?</option>
                                                  </select>
                                              </div>
                                          </div>
                                    </div>
          
                                    <div class="form-group row">
                                      <label for="stage" class="col-sm-3 control-label">Stage</label>
                                      <div class="col-sm-9">
                                        <div class="input-group">
                                          <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="stage" id="stage">
                                            <option selected="selected">--Select Option----</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                      
                                    <div class="form-group row">
                                      <label for="subtype" class="col-sm-3 control-label">Subject Type</label>
                                      <div class="col-sm-9">
                                        <div class="input-group">
                                          <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="subtype" id="subtype">
                                            <option selected="selected">--Select Option----</option>
                                            <option>Core</option>
                                            <option>Do you want to pay more than 50% upfront fee?</option>
                                            <option>Do you want to pay more than 50% upfront fee?</option>
                                            <option>Do you want to pay more than 50% upfront fee?</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
          
                                    <div class="form-group row">
                                      <label for="subfee" class="col-sm-3 control-label alignStart">Subject Fee</label>
                                      <div class="col-sm-9">
                                        <select class="form-control" name="subfee" id="subfee">
                                          <option selected="selected" value="0.00">0.00</option>
                                          <option value="0.01">0.01</option>
                                          <option value="0.02">0.02</option>
                                          <option value="0.03">0.03</option>
                                          <option value="0.04">0.04</option>
                                          <option value="0.05">0.05</option>
                                          <option value="0.06">0.06</option>
                                          <option value="0.07">0.07</option>
                                          <option value="0.08">0.08</option>
                                          <option value="0.09">0.09</option>
                                        </select>
                                        <div class="form-check cbox">
                                          <input class="form-check-input" type="checkbox" name="checkbox[]" id="cbox1" value="cbox1">
                                          <label class="form-check-label">Update for all subject(s)</label>
                                        </div>
                                        <div class="form-check cbox">
                                          <input class="form-check-input" type="checkbox" name="checkbox[]" id="cbox2" value="cbox2" >
                                          <label class="form-check-label">Set Active</label>
                                        </div>
                                        <div class="form-check cbox">
                                          <input class="form-check-input" type="checkbox" name="checkbox[]" id="cbox3" value="cbox3" >
                                          <label class="form-check-label">Include in Academic Docs</label>
                                        </div>
                                      </div>
                                    </div>
                                      </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row1-->
                                 
                                <br>
  
                                <!--submit option-->
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="add" id="add">Add Subject Details</button>
                                </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
  </div> <!--content-wrapper-->
  
  
   