<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Promotion Set</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Promotion Set</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h4 class="card-title">Manage Promotion Set</h4>
                    </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form"> 
                                        <div class="inner-row">
                                            <div class="form-group row">
                                                <label for="setName" class="col-sm-3 control-label">Set Name</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="setName" id="setName"  placeholder="Enter Name here">
                                                    </div>                                           
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="studentOrigin" class="col-sm-3 control-label">Student Origin</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="studentOrigin" id="studentOrigin">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>Overseas Student (Offshore)</option>
                                                        <option>Overseas Student (Offshore)</option>
                                                        <option>Overseas Student (Offshore)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="visaType" class="col-sm-3 control-label alignStart">Visa Type</label>
                                                <div class="col-sm-9">
                                                    <div class="form-check row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="visaType[]" id="visaType1" value="visaType1">
                                                            <label class="form-check-label">All Type</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="visaType[]" id="visaType2" value="visaType2">
                                                            <label class="form-check-label">Stuednt Visa</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="visaType[]" id="visaType3" value="visaType3">
                                                            <label class="form-check-label">Tourist / Visitor</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="visaType[]" id="visaType4" value="visaType4">
                                                            <label class="form-check-label">Working Holiday</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="nationalityGroup" class="col-sm-3 control-label">Nationality Group</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="nationalityGroup" id="nationalityGroup">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>Any Group</option>
                                                        <option>Any Group</option>
                                                        <option>Any Group</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="remarks" class="col-sm-3 control-label alignStart">Remarks</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <textarea class="form-control" rows="4" name="remarks" id="remarks" placeholder="Enter Remarks..." ></textarea>
                                                      </div>
                                                </div>
                                            </div>
                                        </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row1-->
                                <br>

                                <!--submit option-->
                                <div class="submit-button">
                                  <button type="submit" class="btn btn-success" name="add" id="add">Add Set</button>
                              </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
  </div> <!--content-wrapper-->
  
  
   