<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Nationality Group</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Nationality Group</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Nationality</h5>
                        </div> 
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                            <div class="form-group row">
                                                <label for="groupName" class="col-sm-2 control-label">Group Name</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="groupName" id="groupName"  placeholder="Enter group name here">
                                                    </div>                                           
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="region" class="col-sm-2 control-label">Region</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="region" id="region">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>Americas</option>
                                                        <option>Canadas</option>
                                                        <option>Indians</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="NationaLity" class="col-sm-2 control-label alignStart">Nationality</label>
                                                <div class="col-sm-5 pr-0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity1" value="NationaLity1">
                                                        <label class="form-check-label">Anguilla: Anguillan</label>
                                                    </div>
                                                    <div class="form-check" >
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity2" value="NationaLity2">
                                                        <label class="form-check-label">Bahamas: Bahamian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity3" value="NationaLity3">
                                                        <label class="form-check-label">Bolivia: Bolivian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity4" value="NationaLity4">
                                                        <label class="form-check-label">Cayman Island: Caymanian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity5" value="NationaLity5">
                                                        <label class="form-check-label">Cuba: Cuban</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity6" value="NationaLity6">
                                                        <label class="form-check-label">Ecuador: Ecuadorean</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity7" value="NationaLity7">
                                                        <label class="form-check-label">Grenada: Grenadian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity8" value="NationaLity8">
                                                        <label class="form-check-label">Haiti: Haitian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity9" value="NationaLity9">
                                                        <label class="form-check-label">Maxico: Maxican</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity10" value="NationaLity10">
                                                        <label class="form-check-label">Penama: Penamanian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity11" value="NationaLity11">
                                                        <label class="form-check-label">Sint Maarten: Sint Maarten People</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity12" value="NationaLity12">
                                                        <label class="form-check-label">St Lucia: St Lucian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity13" value="NationaLity13">
                                                        <label class="form-check-label">Suriname: Surinamese</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity14" value="NationaLity14">
                                                        <label class="form-check-label">Uruguay: Uruguayan</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity15" value="NationaLity15">
                                                        <label class="form-check-label">Antigua and Barbuda: Antiguan</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity16" value="NationaLity16">
                                                        <label class="form-check-label">Barbados: Barbadian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity17" value="NationaLity17">
                                                        <label class="form-check-label">Bonaire, Sint Eustatius and Saba: Bonaire, Sint Eustatius and Saba People</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity18" value="NationaLity18">
                                                        <label class="form-check-label">Chile: Chilean</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity19" value="NationaLity19">
                                                        <label class="form-check-label">Curacao: Curacao People</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity20" value="NationaLity20">
                                                        <label class="form-check-label">El Salvador: Salvadorean</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity21" value="NationaLity21">
                                                        <label class="form-check-label">Guadeloupe: French</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity22" value="NationaLity22">
                                                        <label class="form-check-label">Honduras: Honduran</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity23" value="NationaLity23">
                                                        <label class="form-check-label">Montserrat: Montserratian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity24" value="NationaLity24">
                                                        <label class="form-check-label">Paraguay: Paraguayan</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity25" value="NationaLity25">
                                                        <label class="form-check-label">South America, nec: South American</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity26" value="NationaLity26">
                                                        <label class="form-check-label">St Marting (French part): St Martin People</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity27" value="NationaLity27">
                                                        <label class="form-check-label">Trinidad and Tabago: Trinidadian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity28" value="NationaLity28">
                                                        <label class="form-check-label">Venezuela: Venezuelan</label>
                                                    </div>
                                                </div>
                
                                                <div class="col-sm-5 pr-0 pl-0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity29" value="NationaLity29">
                                                        <label class="form-check-label">Argentina: Argentinian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity30" value="NationaLity30">
                                                        <label class="form-check-label">Belize: Belizian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity31" value="NationaLity31">
                                                        <label class="form-check-label">Brazil: Brazilian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity32" value="NationaLity32">
                                                        <label class="form-check-label">Colombia: Colombian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity33" value="NationaLity33">
                                                        <label class="form-check-label">Dominica: Dominican</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity34" value="NationaLity34">
                                                        <label class="form-check-label">Falkland Islands: Falkland Islander</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity35" value="NationaLity35">
                                                        <label class="form-check-label">Guatemala: Guatemalan</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity36" value="NationaLity36">
                                                        <label class="form-check-label">Jamaica: Jamaican</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity37" value="NationaLity37">
                                                        <label class="form-check-label">Netherlands Antilles: Dutch Antillean</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity38" value="NationaLity38">
                                                        <label class="form-check-label">Peru: Peruvian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity39" value="NationaLity39">
                                                        <label class="form-check-label">St Barthelemy: St Barthelemy People </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity40" value="NationaLity40">
                                                        <label class="form-check-label">St Pierre and Miquelon: French</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity41" value="NationaLity41">
                                                        <label class="form-check-label">Turks and Caicos Islands Turks and Caicos Islander</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity42" value="NationaLity42">
                                                        <label class="form-check-label">Virgin Islands, British: British Virgin Islander</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity43" value="NationaLity43">
                                                        <label class="form-check-label">Aruba: Aruban</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity44" value="NationaLity44">
                                                        <label class="form-check-label">Bermuda: Bermudian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity45" value="NationaLity45">
                                                        <label class="form-check-label">Canada: Canadian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity46" value="NationaLity46">
                                                        <label class="form-check-label">Costa Rica: Costa Rican</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity47" value="NationaLity47">
                                                        <label class="form-check-label">Dominician Republic: Dominician</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity48" value="NationaLity48">
                                                        <label class="form-check-label">French Guiana: Guyanese</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity49" value="NationaLity49">
                                                        <label class="form-check-label">Guyana: Guyanese</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity50" value="NationaLity50">
                                                        <label class="form-check-label">Martinique: French</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity51" value="NationaLity51">
                                                        <label class="form-check-label">Nicaragua: Nicaraguan</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity52" value="NationaLity52">
                                                        <label class="form-check-label">Puerto Rico: Puerto Rican</label>
                                                    </div>
                
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity53" value="NationaLity53">
                                                        <label class="form-check-label">St Kitts and Nevis: Kittitian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity54" value="NationaLity54">
                                                        <label class="form-check-label">St Vincent and the Grenadines: Vincentian</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity55" value="NationaLity55">
                                                        <label class="form-check-label">Inited States of America: American</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="NationaLity[]" id="NationaLity56" value="NationaLity56">
                                                        <label class="form-check-label">Virgin Isands, United States: US Virginf Islander</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row1-->
                                <br>

                                <!--submit option-->
                                <div class="submit-button">
                                  <button type="submit" class="btn btn-success" name="add" id="add">Add Group and Nationality</button>
                                  <button type="submit" class="btn btn-danger" name="cancel" id="cancel">Cancel</button>
                              </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
  </div> <!--content-wrapper-->
  
  
   