<div class="content-wrapper">
  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">User Permission</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>User Permission</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-6 offset-md-3">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">Set User Permission</h5>
                      </div> 
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="selectRole" class="col-sm-3 control-label">Select Roles</label>
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="selectRole" id="selectRole">
                                                    <option selected="selected">--No Roles Found--</option>
                                                    <option>Role 1</option>
                                                    <option>Role 2</option>
                                                    <option>Role 3</option>
                                                  </select>
                                                </div>
                                            </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="userName" class="col-sm-3 control-label">Enter Name</label> 
                                            <div class="col-sm-9">   
                                                <div class="input-group">
                                                  <input type="text" class="form-control" name="userName" id="userName" placeholder="Enter user name here">
                                                </div>       
                                            </div>
                                      </div>
                                      </div><!--inner-row-->
                                        
                                    </div> <!--col-md-12 sub-form-->
                                </div> 
                                 
                                <br>
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="view" id="view">View</button>
                                </div>                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>


   