<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Edit College Information</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Edit College Information</li>
            </ol>
        </div>
        <span class="text-star ">Enter system configuration and setup information below</span>

      </div>
    </div><!-- container-fluid -->
  </section>


    <!-- Main content -->
    <section class="content"> 
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1"> 
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">College Information Details</h5>
                      </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>General Information</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                    <label for="AutoId" class="col-sm-4 control-label">Auto Id</label>
                                                    <div class="col-sm-8">
                                                      <span id="AutoId"></span>
                                                    </div>
                                                  </div>
                        
                                                  <div class="form-group row">
                                                      <label for="RTOcode" class="col-sm-4 control-label">RTO Code<span class="star">*</span></label> 
                                                      <div class="col-sm-8">          
                                                          <input class="form-control" type="text" name="RTOcode" id="RTOcode"  placeholder="Enter RTO code here" required>
                                                      </div>
                                                  </div>
                        
                                                  <div class="form-group row">
                                                      <label for="clgName" class="col-sm-4 control-label alignStart">College Name<span class="star">*</span></label> 
                                                      <div class="col-sm-8">    
                                                          <input class="form-control" type="text"  name="clgName" id="clgName"  placeholder="Enter you College name here" required>
                                                          <div class="form-check checkbox">
                                                            <input class="form-check-input" type="checkbox" name="checkbox1[]" id="rtoCheckbox" value="rtoCheckbox">
                                                            <label class="form-check-label">Public RTO?</label>
                                                          </div>
                                                          <div class="form-check checkbox">
                                                            <input class="form-check-input" type="checkbox" name="checkbox1[]" id="registerCheckbox" value="registerCheckbox">
                                                            <label class="form-check-label">Registerd in <a href="#">Link here</a></label>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div> <!--col-md-6-->
                        
                                              <div class="col-md-6">
                                                  <div class="HiddenField">
                                                  </div>
                        
                                                  <div class="form-group row">
                                                      <label for="cricoScode" class="col-sm-4 control-label">CRICO S Code<span class="star">*</span></label> 
                                                      <div class="col-sm-8">   
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="cricoScode" id="cricoScode"  placeholder="Enter CRICO S code here" required> 
                                                          </div>       
                                                      </div>
                                                  </div>
                        
                                                  <div class="form-group row">
                                                      <label for="legalName" class="col-sm-4 control-label">Legal Name<span class="star">*</span></label> 
                                                      <div class="col-sm-8">          
                                                          <input class="form-control" type="text"  name="legalName" id="legalName"  placeholder="Enter you College legal name here" required>
                                                      </div>
                                                  </div>
                                                </div> <!--col-md-6-->
                                              </div> <!--row-->

                                              <div class="row">
                                              <div class="col-md-12">
                                                  <div class="form-group row">
                                                      <label for="trainingOrga" class="col-sm-2 control-label alignStart">Training Organisation<span class="star">*</span></label>
                                                      <div class="col-sm-10">
                                                          <div class="input-group">
                                                              <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"name="trainingOrga" id="trainingOrga" required>
                                                                  <option selected="selected"> --Please select status--</option>
                                                                  <option>91 - Education/Training center or business</option>
                                                                  <option>92 - Education/Training center or business</option>
                                                                  <option>93 - Education/Training center or business</option>
                                                                  <option>94 - Education/Training center or business</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              
                                              </div> <!--row  -->
  
                                              <div class="row">
                                              <div class="col-md-6">
                                                  <div class="form-group row">
                                                      <label for="ContPerson" class="col-sm-4 control-label">Contact Person<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" name="ContPerson" id="ContPerson" placeholder="Enter Contact Person name" required>
                                                          </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="tel" class="col-sm-4 control-label">Telephone<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="tel" name="tel" id="tel" placeholder="Enter your Telephone here" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="contEmail" class="col-sm-4 control-label">Contact Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <input type="email" class="form-control" name="contEmail" id="contEmail" placeholder="Enter contact email here" required>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="marktEmail" class="col-sm-4 control-label">Marketing Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <input type="email" class="form-control" name="marktEmail" id="marktEmail" placeholder="Enter marketing email here" required>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="addmisnEmail" class="col-sm-4 control-label">Admissions Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <input type="email" class="form-control" name="addmisnEmail" id="addmisnEmail" placeholder="Enter admissions email here" required>
                      
                                                      </div>
                                                    </div>

                                                    <div class="form-group row">
                                                      <label for="clgEmailstp" class="col-sm-4 control-label">College Email Setup<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <span class="col-sm-6 studentid">studentid + @ + </span>
                                                              <input type="email" class="form-control col-sm-6 studentmail" name="clgEmailstp" id="clgEmailstp" placeholder="Enter email" required>
                                                          </div>
                                                      </div>
                                                    </div>
                      
                                                    
                                              </div> <!--col-md-6-->
                      
                                              <div class="col-md-6">
                                                  <div class="form-group row">
                                                      <label for="tel" class="col-sm-4 control-label">ABN<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="tel" name="tel" id="tel" placeholder="Enter your Telephone here" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="tel" class="col-sm-4 control-label">Fax<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="tel" name="tel" id="tel" placeholder="Enter your Telephone here" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="ITemail" class="col-sm-4 control-label">IT Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input type="email" class="form-control" name="ITemail" id="ITemail" placeholder="Enter IT email here" required>
                                                          </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="academEmail" class="col-sm-4 control-label">Academic Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input type="email" class="form-control" name="academEmail" id="academEmail" placeholder="Enter academic email here" required>
                                                          </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="accoutnEmail" class="col-sm-4 control-label">Accounts Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input type="email" class="form-control" name="accoutnEmail" id="accoutnEmail  " placeholder="Enter accounts contact email here" required>
                                                          </div>
                                                      </div>
                                                    </div>

                                                    <div class="form-group row">
                                                      <label for="otherEmail" class="col-sm-4 control-label">Other Email<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <input type="email" class="form-control" name="otherEmail" id="otherEmail" placeholder="Enter other email here" required>
                                                      </div>
                                                    </div>
                                                    
                      
                                              </div> <!--col-md-6-->
                                              </div> <!--row-->

                                              <div class="row">
                                                <div class="col-md-12">
                        
                                                    <div class="form-group row">
                                                        <label for="clgurl" class="col-sm-2 control-label">College URL<span class="star">*</span></label>
                                                        
                                                            <div class="col-md-10">
                                                                <div class="input-group">
                                                                    <span class="col-sm-1 clgurl">http://</span>
                                                                    <input type="url" class="form-control col-sm-11 clgurl" name="clgurl" id="clgurl" placeholder="Enter your college url" required>
                                                                </div>
                        
                                                             </div>
                                                    </div>
                        
                                                      <div class="form-group row">
                                                        <label for="typeofIndustry" class="col-sm-2 control-label alignStart">Type of Industry<span class="star">*</span></label>
                                                        <div class="col-sm-10">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="typeofIndustry" id="typeofIndustry" required>
                                                                  <option selected="selected"> --Please select industry--</option>
                                                                  <option>Tertiary Education (81)</option>
                                                                  <option>Tertiary Education (81)</option>
                                                                  <option>Tertiary Education (81)</option>
                                                                  <option>Tertiary Education (81)</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox1" value="option1">
                                                                <label class="form-check-label green">Enforce Tution Protection Scheme (TPS)</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox2" value="option2">
                                                                <label class="form-check-label green">Show Warning for Tution Protection Scheme</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox3" value="option3">
                                                                <label class="form-check-label red">Enable AVETMISS 8.0 Data Record</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="checkbox1[]" id="checkbox4" value="option4">
                                                                <label class="form-check-label red">Enable USI Feature</label>
                                                            </div>
                                                        </div>
                                                      </div>
                        
                                                </div>
                                              </div> <!--row-->
                                              
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row1-->


                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>AVETMISS Training Organisation Indetifier(TOID) for State</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                      <label for="toidAct" class="col-sm-4 control-label">TOID for ACT<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidAct" id="toidAct" placeholder="Enter TOID for ACT" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="toidNT" class="col-sm-4 control-label">TOID for NT<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidNT" id="toidNT" placeholder="Enter TOID for NT" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="toidSA" class="col-sm-4 control-label">TOID for SA<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidSA" id="toidSA" placeholder="Enter TOID for SA" required>
                                                        </div>
                                                      </div>
                                                    </div>
                      
                                                    <div class="form-group row">
                                                      <label for="toidVIC" class="col-sm-4 control-label">TOID for VIC<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidVIC" id="toidVIC" placeholder="Enter TOID for VIC" required>
                                                        </div>
                                                      </div>
                                                    </div>
                                              </div>
                      
                                              <div class="col-md-6">
                      
                                                  <div class="form-group row">
                                                      <label for="toidNSW" class="col-sm-4 control-label">TOID for NSW<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidNSW" id="toidNSW" placeholder="Enter TOID for NSW" required>
                                                        </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="toidQLD" class="col-sm-4 control-label">TOID for QLD<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidQLD" id="toidQLD" placeholder="Enter TOID for QLD" required>
                                                        </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="toidtaS" class="col-sm-4 control-label">TOID for TA S<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidtaS" id="ttoidtaSel" placeholder="Enter TOID for TA S" required>
                                                        </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="toidWA" class="col-sm-4 control-label">TOID for WA<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                        <div class="input-group">
                                                          <input class="form-control" type="text" name="toidWA" id="toidWA" placeholder="Enter TOID for WA" required>
                                                        </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              </div><!--row-->
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row2-->


                                        <div class="row">
                                          <div class="col-md-12 sub-form">
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>College Address in Australia</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="card-header">
                                                    <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Street Address</h3>
                                                  </div>
                                                  <div class="inner-row">
                                                    <div class="col-sm-12">
                                                      <div class="form-group row">
                                                        <label for="StrtAddr" class="col-sm-4 control-label alignStart">Address<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <textarea class="form-control" rows="3" name="StrtAddr" id="StrtAddr" placeholder="Enter Address..." required></textarea>
                                                              </div>
                                                        </div>
                                                      </div>
                        
                                                      <div class="form-group row">
                                                        <label for="StrtSuburb" class="col-sm-4 control-label">Suburb<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" name="StrtSuburb" id="StrtSuburb" placeholder="Enter Suburb" required>
                                                          </div>
                                                        </div>
                                                      </div>
                        
                                                      <div class="form-group row">
                                                        <label for="StrtState" class="col-sm-4 control-label">State<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="StrtState" id="StrtState" style="width: 100%;" required>
                                                                  <option selected="selected">--Slecet State--</option>
                                                                  <option>NSW</option>
                                                                  <option>SA</option>
                                                                  <option>NT</option>
                                                                  <option>QLD</option>
                                                                  <option>TA S</option>
                                                                  <option>WA</option>
                                                                  <option>Act</option>
                                                                  <option>VIC</option>
                        
                                                                </select>
                                                              </div>
                                                          </div>
                                                        </div>
                                                      
                        
                                                      <div class="form-group row">
                                                        <label for="StrtpostCode" class="col-sm-4 control-label">Postcode<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" pattern="[0-9]{5}" name="StrtpostCode" id="StrtpostCode" placeholder="Enter your Postcode here" required>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div><!--col-sm-12-->

                                                  </div><!--inner-row-->

                                                </div><!--col-md-6-->
                                                <div class="col-md-6">
                                                  <div class="card-header">
                                                    <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Postal Address 
                                                      <div class="form-check subhead-cbox">
                                                      <input class="form-check-input" type="checkbox" name="checkbox1" id="strtAddr" value="strtAddr">
                                                      <label for="strtAddrcheckbox" class="form-check-label">Same As Street Address</label>
                                                  </div></h3>
                                                    
                                                  </div>
                                                  <div class="inner-row">
                                                    <div class="col-sm-12">
                                                      <div class="form-group row">
                                                        <label for="postAddr" class="col-sm-4 control-label alignStart">Address<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <textarea class="form-control" rows="3" name="postAddr" id="postAddr" placeholder="Enter Address..." required></textarea>
                                                              </div>
                                                        </div>
                                                      </div>
                        
                                                      <div class="form-group row">
                                                        <label for="Suburb" class="col-sm-4 control-label">Suburb<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" name="Suburb" id="Suburb" placeholder="Enter Suburb" required>
                                                          </div>
                                                        </div>
                                                      </div>
                        
                                                      <div class="form-group row">
                                                        <label for="postState" class="col-sm-4 control-label">State<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="postState" id="postState" style="width: 100%;" required>
                                                                  <option selected="selected">--Slecet State--</option>
                                                                  <option>NSW</option>
                                                                  <option>SA</option>
                                                                  <option>NT</option>
                                                                  <option>QLD</option>
                                                                  <option>TA S</option>
                                                                  <option>WA</option>
                                                                  <option>Act</option>
                                                                  <option>VIC</option>
                        
                                                                </select>
                                                              </div>
                                                          </div>
                                                        </div>
                                                      
                        
                                                      <div class="form-group row">
                                                        <label for="postalpostCode" class="col-sm-4 control-label">Postcode<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                          <div class="input-group">
                                                            <input class="form-control" type="text" pattern="[0-9]{5}" name="postalpostCode" id="postalpostCode" placeholder="Enter your Postcode here" required>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div><!--col-sm-12-->
                                                  </div><!--inner-row-->
                                                </div><!--col-md-6-->
                                              </div><!--row-->
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row3-->

                                        
                                        <div class="row">
                                          <div class="col-md-12 sub-form"> 
                                            <div class="card-header">
                                              <h3 class="card-title Title2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Bank Details</h3>
                                            </div>
                                            <div class="inner-row">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group row">
                                                      <label for="bankName" class="col-sm-4 control-label">Bank Name<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="bankName" id="bankName" placeholder="Enter bank name here" required>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="accountName" class="col-sm-4 control-label">Account Name<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="accountName" id="accountName" placeholder="Enter account name here" required>
                                                          </div>
                                                      </div>
                                                  </div>
  
                                                  <div class="form-group row">
                                                      <label for="accountNum" class="col-sm-4 control-label">Account Number<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="accountNum" id="accountNum" placeholder="Enter account number here" required>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                              </div> <!--col-md-6-->
                                              <div class="col-md-6">
                                                  <div class="form-group row">
                                                      <label for="brunch" class="col-sm-4 control-label">Brunch<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="brunch" id="brunch" placeholder="Enter brunch here" required>
                                                          </div>
                                                      </div>
                                                  </div>
  
                                                  <div class="form-group row">
                                                      <label for="bsb" class="col-sm-4 control-label">BSB<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="bsb" id="bsb" placeholder="Enter BSB code here" required>
                                                          </div>
                                                      </div>
                                                  </div>
                      
                                                  <div class="form-group row">
                                                      <label for="SwiftCode" class="col-sm-4 control-label">Swift Code<span class="star">*</span></label>
                                                      <div class="col-sm-8">
                                                          <div class="input-group">
                                                              <input class="form-control" type="text" name="SwiftCode" id="SwiftCode" placeholder="Enter BSB code here" required>
                                                          </div>
                                                      </div>
                                                  </div>    
                                              </div> <!--col-md-6-->
                                              </div><!--row-->
                                            </div><!--inner-row-->
                                          </div><!--col-md-12 sub-form-->
                                        </div> <!--row4-->
                                    </div> <!--main-column-->
                              </div><!--main-row-->
                                
                            <br>
                            <div class="submit-button">
                              <button type="submit" class="btn btn-success" name="adminclginfoupdatebtn" id="adminclginfoupdatebtn">Update</button>
                            </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>


   