<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Invention Strategy</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Invention Strategy</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section> 

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <!-- left column -->
        <div class="col-md-6 offset-md-3">
          <!-- general form elements -->
          <div class="card card-primary mb-0">
              <div class="card-header">
                  <h5 class="card-title">Add New Invention Type and Strategy</h5>
              </div>
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 sub-form">
                      <div class="inner-row">
                        <div class="form-group row">
                          <label for="academicstrategy" class="col-sm-3 control-label">Invention type</label> 
                          <div class="col-sm-9">
                            <select class="form-control" name="academicstrategy" id="academicstrategy">
                                  <option selected="selected" value="Academic Strategy">Academic Strategy</option> 
                                  <option value="Academic Strategy">Academic Strategy</option>
                                  <option value="NT">NT</option>
                                  <option value="QLD">QLD</option>
                                  <option value="SA">SA</option>
                                  <option value="TAS">TAS</option>
                                  <option value="VIC">VIC</option>
                                  <option value="WA">WA</option>
                                  <option value="Other - Overseas">Other - Overseas</option>
                            </select>
                            <span><a href="#">Refresh?</a></span>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="strategy" class="col-sm-3 control-label">Strategy</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                              <input class="form-control" type="text"  name="strategy" id="strategy" placeholder="Enter strategy">
                            </div>
                          </div>
                        </div>
                      </div><!--inner-row-->
                    </div> <!--col-md-12 sub-form-->
                  </div><!--row1-->
                  <div class="submit-button">
                    <button type="submit" class="btn btn-success" name="admininventionaddbtn" id="admininventionaddbtn">Add New</button>
                  </div>
                </div>
              </form>
            </div> <!--card card-primary-->
        </div> <!--col-md-6 offset-md-2-->
      </div> <!--row-->
    </div> <!--container-fluid-->
  </section> <!--section2-->
</div><!--content-wrapper-->


   