<div class="content-wrapper">

    <section class="content-header">
      <div class="container-fluid">
        <div class="row m-0 p-0">
          <div class="col-sm-12">
              <h3 class="page-heading">Student Enrolment</h3>
          </div>
          <div class="col-sm-12 text-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Enrolment Fee</li>
              </ol>
          </div>
          <span class="text-star">Please setup initial enrolment fee information for your institute before using the System.</span>
        </div>
      </div><!-- container-fluid -->
    </section> 
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row m-0 p-0">
          <!-- left column -->
          <div class="col-md-10 offset-md-1">
            <!-- general form elements -->
              <div class="card card-primary mb-0">
                <div class="card-header">
                  <h5 class="card-title">Setup Enrolment Fee Information</h5>
                </div>
                  
                  <div class="col-sm-12" *ngIf="errors==''">
                    <div class="text-danger">
                      {{allerrors}}
                  
                    </div>
                  </div>

                <form #f = "ngForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="inner-row">

                             <div class="form-group row">
                                <label for="studentId" class="col-sm-3 control-label">Student Id<span class="star">*</span></label> 
                                <div class="col-sm-9"> 
                                  {{outputD}} 
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label for="studentOriginId" class="col-sm-3 control-label">Student Origin Id<span class="star">*</span></label> 
                                <div  class="input-group col-sm-9">
                                  <select  [ngClass]="(error1=='')?'form-control select2':'form-control select2 is-invalid'" [(ngModel)]="studentOriginId" data-dropdown-css-class="select2-danger" name="studentOriginId" id="studentOriginId" required>
                                    <option *ngFor="let studentorigin of getstudentorigin" [value]="studentorigin.studentOriginId" selected="selected">{{studentorigin.originName}}</option>
                                  </select>
                           
                              </div>
                            </div>

                            <div class="form-group row">
                                <label for="courseId" class="col-sm-3 control-label">Course<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error2=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="courseId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="courseId" id="courseId" required>
                                      <option *ngFor="let course of getcourse" [value]="course.courseId" selected="selected">{{course.courseCode}} - {{course.courseName}}</option>                                      
                                    </select>
                                    <!-- <div class="col-sm-12" *ngIf="errors==''">
                                      <div class="text-danger">
                                        {{errorMessage1}}
                                    
                                      </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="agentId" class="col-sm-3 control-label">Agent Id<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error3=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="agentId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="agentId" id="agentId" required>
                                      <option *ngFor="let agent of getagent" [value]="agent.agentId" selected="selected">{{agent.agencyName}}</option> 
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage2}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="courseIntakeDateId" class="col-sm-3 control-label">Course Intake Date<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error4=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="courseIntakeDateId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="courseIntakeDateId" id="courseIntakeDateId" required>
                                      <option *ngFor="let courseintake of getcourseintakedate" [value]="courseintake.courseIntakeDateId" selected="selected">{{courseintake.startDate}} - {{courseintake.endDate}}</option>                                     
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage3}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="applicationStatusId" class="col-sm-3 control-label">Application Status<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error5=='')?'form-control select2':'form-control select2 is-invalid'"   [(ngModel)]="applicationStatusId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="applicationStatusId" id="applicationStatusId" required>
                                      <option *ngFor="let appstatus of getapplicationstatus" [value]="appstatus.applicationStatusId" selected="selected">{{appstatus.applicationStatusName}}</option>
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage4}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="deliveryModeId" class="col-sm-3 control-label">Delivery Mode<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error6=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="deliveryModeId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="deliveryModeId" id="deliveryModeId" required>
                                      <option *ngFor="let delivery of getdeliverymode" [value]="delivery.deliveryModeId" selected="selected">{{delivery.deliveryModeName}}</option>
                                      
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage4}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fundingSourceNationalId" class="col-sm-3 control-label">Funding Source National<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error7=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="fundingSourceNationalId"  class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="fundingSourceNationalId" id="fundingSourceNationalId" required>
                                      <option *ngFor="let fundnat of getfundingsourcenational" [value]="fundnat.fundingSourceNationalId" selected="selected">{{fundnat.fundingSourceNationalName}}</option>
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage5}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fundingSourceStateId" class="col-sm-3 control-label">Funding Source State<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error8=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="fundingSourceStateId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="fundingSourceStateId" id="fundingSourceStateId" required>
                                      <option *ngFor="let fundstate of getfundingsourcestate" [value]="fundstate.fundingSourceStateId" selected="selected">{{fundstate.fundingSourceStateName}}</option>
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage6}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="commencingProgramId" class="col-sm-3 control-label">Commencing Program<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error9=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="commencingProgramId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="commencingProgramId" id="commencingProgramId" required>
                                      <option *ngFor="let commencing of getcommencingprogram" [value]="commencing.commencingProgramId" selected="selected">{{commencing.commencingProgramName}}</option>
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage7}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="trainingContractid" class="col-sm-3 control-label">Training Contract<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [ngClass]="(error10=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="trainingContractid" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="trainingContractid" id="trainingContractid" required>
                                      <option *ngFor="let training of gettrainingcontract" [value]="training.trainingContractId" selected="selected">{{training.trainingContractCode}} - {{training.trainingContractName}}</option>
                                    </select>
                                      <!-- <div class="col-sm-12" *ngIf="errors==''">
                                        <div class="text-danger">
                                          {{errorMessage8}}
                                      
                                        </div>
                                      </div> -->
                                </div>
                            </div>

                            <div class="form-group row">
                              <label for="reasonTakingCourseId" class="col-sm-3 control-label">Reason Taking Course<span class="star">*</span></label> 
                              <div class="input-group col-sm-9">
                                  <select [ngClass]="(error11=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="reasonTakingCourseId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="reasonTakingCourseId" id="reasonTakingCourseId" required>
                                    <option *ngFor="let reasontaking of getreasontakingcourse" [value]="reasontaking.reasonTakingCourseId" selected="selected">{{reasontaking.reasonName}}</option> 
                                  </select>
                                    <!-- <div class="col-sm-12" *ngIf="errors==''">
                                      <div class="text-danger">
                                        {{errorMessage9}}
                                    
                                      </div>
                                    </div> -->
                              </div>
                          </div> 

                            <!-- <div class="form-group row">
                                <label for="qualificationId" class="col-sm-3 control-label">Qualification<span class="star">*</span></label> 
                                <div class="input-group col-sm-9">
                                    <select [(ngModel)]="qualificationId" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="qualificationId" id="qualificationId" required>
                                      <option *ngFor="let qualification of getqualification" [value]="qualification.qualificationId" selected="selected">{{qualification.qualificationName}}</option>
                                    </select>
                                </div>
                            </div>  -->

                            


                            <div class="form-group row">
                              <label for="applyForRPL" class="col-sm-3 control-label gender" >Apply For RPL<span class="star">*</span></label>
                              <div class="col-sm-9" [ngClass]="(error12=='')?'form-control select2':'form-control select2 is-invalid'" >
                                <div class="form-check radio" >
                                  <input class="form-check-input" type="radio" name="applyForRPL" id="applyForRPL1" value="1" [(ngModel)]="applyForRPL">
                                  <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check radio">
                                  <input class="form-check-input" type="radio" name="applyForRPL" id="applyForRPL2" value="2" [(ngModel)]="applyForRPL">
                                  <label class="form-check-label">No</label>
                                </div>
                              </div>
                            </div>

                            <div class="form-group row">
                                <label for="TuitionFee" class="col-sm-3 control-label">Tuition Fee<span class="star">*</span></label> 
                                <div class="col-sm-9">   
                                    <div class="input-group">
                                        <input [ngClass]="(error13=='')?'form-control select2':'form-control select2 is-invalid'"  [(ngModel)]="TuitionFee" type="text" class="form-control" name="TuitionFee" id="TuitionFee" placeholder="Enter Tuition Fee here" required>
                                    </div>       
                                </div>
                            </div>

                        </div><!--inner-row-->
                      </div> <!--col-md-12-->
                    </div> <!--row-->
  
                    <!--submit-button-->
                    <div class="submit-button">
                      <button (click)="createStudentEnrolment(f)" type="submit" class="btn btn-success" name="enrollmentfeesetupbtn" id="enrollmentfeesetupbtn" >Setup</button>
                    </div>
                  </div>
                </form>
              </div> <!--card card-primary-->
          </div> <!--col-md-6 offset-md-2-->
        </div> <!--row-->
      </div> <!--container-fluid-->
    </section> <!--section2-->
  </div> <!--content-wrapper-->
  
  
     