<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Service Provider Facilities Setup</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Service Provider Facilities Setup</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Facility Details</h5>
                        </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="serviceprovider" class="col-sm-3 label"> Service Provider<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="serviceprovider" id="serviceprovider" required>
                                              <option selected="selected" value="No provider found">No provider found</option>
                                              <option value="No provider found">No provider found</option>
                                              <option value="VET">VET</option>
                                              <option value="2018">2018</option>
                                              <option value="2017">2017</option>
                                              <option value="2016">2016</option>
                                              <option value="2015">2015</option>
                                              <option value="2014">2014</option>
                                              <option value="2013">2013</option>
                                            </select>
                                          </div>
                                        </div>
                                     
                                        <div class="form-group row">
                                          <label for="servicename" class="col-sm-3 label"> Service Name<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="servicename" id="servicename" required>
                                              <option selected="selected" value="No service found">No service found</option>
                                              <option value="No service found">No service found</option>
                                              <option value="VET">VET</option>
                                              <option value="2018">2018</option>
                                              <option value="2017">2017</option>
                                              <option value="2016">2016</option>
                                              <option value="2015">2015</option>
                                              <option value="2014">2014</option>
                                              <option value="2013">2013</option>
                                            </select>
                                          </div>
                                        </div>
          
                                        <div class="form-group row">
                                          <label for="servicecategory" class="col-sm-3 label"> Service Category<span class="star">*</span></label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="servicecategory" id="servicecategory" required>
                                              <option selected="selected" value="No category found">No category found</option>
                                              <option value="No category found">No category found</option>
                                              <option value="VET">VET</option>
                                              <option value="2018">2018</option>
                                              <option value="2017">2017</option>
                                              <option value="2016">2016</option>
                                              <option value="2015">2015</option>
                                              <option value="2014">2014</option>
                                              <option value="2013">2013</option>
                                            </select>
                                          </div>
                                        </div>
          
                                        <div class="form-group row">
                                          <label for="availablefacility" class="col-sm-3 label">Availabe Facility</label>   
                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input class="form-control" type="text"  name="availablefacility" id="availablefacility" placeholder="Enter  available  facility">
                                            </div>
                                          </div>
                                        </div>
                                      </div><!--inner-row-->
                                    </div> <!--col-md-12-->
                                </div> 
                                <br>
                                <div class="submit-button">
                                  <button type="submit" class="btn btn-success" name="add" id="add">Add Facility</button>
                              </div> 
                                                             
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>
