<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Staff Communication Log (Diary) for "name here"</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Staff Communication Log</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">Diary</h5>
                      </div> 
                        <form role="form">
                            <div class="card-body">
                        
                                <div class="row">

                                    <div class="col-md-12 sub-form">

                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="date" class="col-sm-3 control-label">Today</label>
                                          <div class="col-sm-9">
                                            <!-- <?php echo date("l, jS F, Y "). "<br>"; ?> -->
                                          </div>
                                      </div>
                
                                      <div class="form-group row">
                                        <label for="staff" class="col-sm-3 control-label">Staff/Teacher</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="staff" id="staff">
                                              <option selected="selected" value="staff/teacher">--Select Option--</option>
                                              <option value="America">Teacher</option>
                                              <option value="Europe">Staff</option>
                                            </select>
                                          </div>
                                      </div>
                
                                                          
                                      <div class="form-group row">
                                        <label for="commentedby" class="col-sm-3 control-label">Commented by</label>
                                        <div class="col-sm-9">
                                          <p>Someone</p>
                                        </div>
                                      </div>
                                                           
                                        <div class="form-group row">
                                          <label for="type" class="col-sm-3 control-label">Type</label>
                
                                            <div class="col-sm-9">
                 
                                                  <select class="form-control" name="type" id="type">
                
                                                    <option selected="selected" value="General">General</option>
                                                    <option value="Adelie Land (France)">Adelie Land (France)</option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                    <option value="Aland Islands">Aland Islands</option>
                                                    <option value="Albania">Albania</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="Andorra">Andorra</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Anguilla">Anguilla</option>
                                                    <option value="Yemen">Yemen</option>
                                                    <option value="Zambia">Zambia</option>
                                                    <option value="Zimbabwe">Zimbabwe</option>
                
                                                  </select>
                                                </div>
                                        </div>
                
                
                                        <div class="form-group row">
                                          <label for="status" class="col-sm-3 control-label">Status</label>
                                          <div class="col-sm-9">
                                            <select class="form-control" name="status" id="status" >
                                              <option selected="selected" value="Informed">Informed</option>
                                              <option value="Afghanistan">Afghanistan</option>
                                              <option value="Aland Islands">Aland Islands</option>
                                              <option value="Albania">Albania</option>
                                              <option value="Algeria">Algeria</option>
                                              <option value="Andorra">Andorra</option>
                                              <option value="Angola">Angola</option>
                                              <option value="Anguilla">Anguilla</option>
                                              <option value="Yemen">Yemen</option>
                                              <option value="Zambia">Zambia</option>
                                              <option value="Zimbabwe">Zimbabwe</option>
                                            </select>
                                          </div>
                                        </div>
                
                
                                        <div class="form-group row">
                                          <label for="commentlog" class="col-sm-3 control-label alignStart">Comment /Log</label>
                                          <div class="col-sm-9">
                                            <div class="input-group">
                                                <textarea class="form-control" rows="4" name="commentlog" id="commentlog" placeholder="Place some text here. . . ."></textarea>
                                            </div>
                                          </div>
                                        </div>
                                             
                                     
                                          <div class="form-group row">
                                            <label for="file1" class="col-sm-3 control-label">File attachment 1 </label>
                                            <div class="col-sm-9">
                                              <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file1" name="file1"  accept=".xls,.xlsx,.txt,.doc,.pdf,.pptx">
                                                <label class="custom-file-label" for="customFile"></label>
                                              </div>
                                                
                                            </div>
                                          </div>
                
                
                                           
                                          <div class="form-group row">
                                            <label for="file2" class="col-sm-3 control-label">File attachment 2</label>
                                            <div class="col-sm-9">
                                              <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file2" name="file2"  accept=".xls,.xlsx,.txt,.doc,.pdf,.pptx">
                                                <label class="custom-file-label" for="customFile"></label>
                                            
                                              </div>
                                            </div>
                                          </div>
                
                
                
                                        <div class="form-group row">
                                            <label for="file3" class="col-sm-3 control-label">File attachment 3</label>
                                            <div class="col-sm-9">
                                           
                                         
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file3" name="file3"  accept=".xls,.xlsx,.txt,.doc,.pdf,.pptx">
                                            <label class="custom-file-label" for="customFile"></label>
                                            
                                          </div>
                                          
                                        </div>
                                        </div>
                
                
                
                                        <div class="form-group row">
                                            <label for="file4" class="col-sm-3 control-label">File attachment 4</label>
                                            <div class="col-sm-9">
                                              <div class="custom-file">
                                                <input type="file" class="custom-file-input"  name="file4" id="file4" accept=".xls,.xlsx,.txt,.doc,.pdf,.pptx">
                                                <label class="custom-file-label" for="customFile"></label>
                                              </div>
                                            </div>
                                        </div>
                
                
                
                                        <div class="form-group row">
                                            <label for="file5" class="col-sm-3 control-label">File attachment 5</label>
                                            <div class="col-sm-9">
                                              <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="file5" name="file5"  accept=".xls,.xlsx,.txt,.doc,.pdf,.pptx">
                                                <label class="custom-file-label" for="customFile"></label>
                                            
                                              </div>
                                            </div>
                                        </div>
                                      </div><!--inner-row-->

            
                                    </div> <!--col-md-12 sub-form-->

                                </div> <!--row1-->

                                
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="add" id="add">Add Communication Log</button>
                                    <button type="submit" class="btn btn-danger" name="cancel" id="cancel">Cancel</button>
                                  </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content-wrapper-->


   
