<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
          <h3 class="page-heading">Create Venue</h3>
        </div>
        <div class="col-sm-12 text-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">
              <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Create
              Venue
            </li>
          </ol>
        </div>
        <span class="text-star"
          >In order to setup Rooms, you must first setup training
          location/venue. There must be at least one room in order to setup a
          timable.</span
        >
      </div>
    </div>
    <!-- container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <!-- left column -->
        <div class="col-md-10 offset-md-1">
          <!-- general form elements -->
          <div class="card card-primary mb-0">
            <div class="card-header">
              <h4 class="card-title">Create Venue</h4>
            </div>

            <div class="col-sm-12" *ngIf="errors == ''">
              <div class="text-danger">
                {{ allerrors }}
              </div>
            </div>

            <form #f="ngForm">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 sub-form">
                    <div class="inner-row">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="venueCode" class="col-sm-4 label"
                              >Venue Code<span class="star">*</span></label>
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [ngClass]="
                                    error1 == ''
                                      ? 'form-control select2'
                                      : 'form-control select2 is-invalid'
                                  "
                                  [(ngModel)]="venueCode"
                                  data-dropdown-css-class="select2-danger"
                                  type="text"
                                  class="form-control"
                                  name="venueCode"
                                  id="venueCode"
                                  placeholder="Enter venue code here"
                                  required
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="address1" class="col-sm-4 label flstart"
                              >Address</label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="address1"
                                  class="form-control"
                                  type="text"
                                  name="address1"
                                  id="address1"
                                  placeholder="Enter your address here"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="suburb" class="col-sm-4 label"
                              >Suburb</label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="suburb"
                                  class="form-control"
                                  type="text"
                                  name="suburb"
                                  id="suburb"
                                  placeholder="Enter Suburb here"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="stateId" class="col-sm-4 label"
                              >State</label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <select
                                  [(ngModel)]="stateId"
                                  class="form-control select2 select2-danger"
                                  data-dropdown-css-class="select2-danger"
                                  name="stateId"
                                  id="stateId"
                                >
                                  <option
                                    *ngFor="let state of getstate"
                                    [value]="state.stateId"
                                    selected="selected"
                                  >
                                    {{ state.stateCode }} -
                                    {{ state.stateName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="ABN" class="col-sm-4 label">ABN</label>
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="ABN"
                                  class="form-control"
                                  type="text"
                                  name="ABN"
                                  id="ABN"
                                  placeholder="Enter your ABN here"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label
                              for="effectiveDateFrom"
                              class="col-sm-4 label flstart"
                              >Venue Effective From Date</label
                            >
                            <div
                              class="col-sm-8"
                              id="reservationdate"
                              data-target-input="nearest"
                            >
                              <div class="input-group">
                                <input
                                  [(ngModel)]="effectiveDateFrom"
                                  type="date"
                                  class="form-control datetimepicker-input"
                                  name="effectiveDateFrom"
                                  id="effectiveDateFrom"
                                  data-target="#reservationdate"
                                  placeholder="03/10/2016"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--col-md-6-->

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label
                              for="venueName"
                              class="col-sm-4 label flstart"
                              >Venue Name/ Description</label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="venueName"
                                  class="form-control"
                                  type="text"
                                  name="venueName"
                                  id="venueName"
                                  placeholder="Enter Venu Name here"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="trainingOrgId" class="col-sm-4 label"
                              >Training Organization<span class="star"
                                >*</span
                              ></label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <select
                                  [(ngModel)]="trainingOrgId"
                                  class="form-control select2 select2-danger"
                                  data-dropdown-css-class="select2-danger"
                                  name="trainingOrgId"
                                  id="trainingOrgId"
                                >
                                  <option
                                    *ngFor="let trainingOrg of gettrainingOrg"
                                    [value]="trainingOrg.trainingOrgId"
                                    selected="selected"
                                  >
                                    {{ trainingOrg.trainingOrgName }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="countryId" class="col-sm-4 label"
                              >Country</label
                            >
                            <div class="input-group col-sm-8">
                              <select
                                [(ngModel)]="countryId"
                                class="form-control select2 select2-danger"
                                data-dropdown-css-class="select2-danger"
                                name="countryId"
                                id="countryId"
                              >
                                <option
                                  *ngFor="let countries of getcountry"
                                  [value]="countries.countryId"
                                  selected="selected"
                                >
                                  {{ countries.countryName }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="contactNo" class="col-sm-4 label"
                              >Contact No.<span class="star">*</span></label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="contactNo"
                                  class="form-control"
                                  type="text"
                                  name="contactNo"
                                  id="contactNo"
                                  placeholder="Enter Contact No. here"
                                  required
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="postCode" class="col-sm-4 label"
                              >Postcode<span class="star">*</span></label
                            >
                            <div class="col-sm-8">
                              <div class="input-group">
                                <input
                                  [(ngModel)]="postCode"
                                  class="form-control"
                                  type="text"
                                  pattern="[0-9]{5}"
                                  name="postCode"
                                  id="postCode"
                                  placeholder="Enter your Postcode here"
                                  required
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label
                              for="effectiveDateTo"
                              class="col-sm-4 label flstart"
                              >Venue Effective To Date</label
                            >
                            <div
                              class="col-sm-8"
                              id="reservationdate"
                              data-target-input="nearest"
                            >
                              <div class="input-group">
                                <input
                                  [(ngModel)]="effectiveDateTo"
                                  type="date"
                                  class="form-control datetimepicker-input"
                                  name="effectiveDateTo"
                                  id="effectiveDateTo"
                                  data-target="#reservationdate"
                                  placeholder="03/10/2024"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--col-md-6-->
                      </div>
                    </div>
                    <!--inner-row-->
                  </div>
                  <!--col-md-12 sub-form-->
                </div>
                <!--row-->

                <br />
                <div class="submit-button">
                  <button
                    type="submit"
                    (click)="createVenue(f)"
                    class="btn btn-success"
                    name="add"
                    id="add"
                  >
                    Add New
                  </button>
                  <button
                    type="submit"
                    class="btn btn-warning"
                    name="res"
                    id="res"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--card card-primary-->
        </div>
        <!--col-md-6 offset-md-2-->
      </div>
      <!--row-->
    </div>
    <!--container-fluid-->
  </section>
  <!--section2-->
</div>
