<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Teacher Matrix for "name" Trainer (systemtrainer)</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Teacher Matrix</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">Teacher Matrix</h5>
                          </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                            <div class="form-group row">
                                                <label for="selectTeacher" class="col-sm-3 control-label">Select Teacher</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="selectTeacher" id="selectTeacher">
                                                          <option selected="selected">--Select Option----</option>
                                                          <option>Mashed Trainer (systemtrainer)</option>
                                                          <option>Mashed Trainer (systemtrainer)</option>
                                                          <option>Mashed Trainer (systemtrainer)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="courseStatus" class="col-sm-3 control-label">Course Status</label>
                                                <div class="col-sm-9">
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="courseStatus" id="courseActive" value="courseActive" checked>
                                                            <label class="form-check-label">Active</label>
                                                        </div>
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="courseStatus" id="courseInactive" value="courseInactive">
                                                            <label class="form-check-label">Inactive</label>
                                                        </div>
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="selectCourse" class="col-sm-3 control-label">Select Course</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="selectCourse" id="selectCourse">
                                                          <option selected="selected">--Select Option----</option>
                                                          <option>BSB50215: Diploma of Business</option>
                                                          <option>BSB50215: Diploma of Business</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="form-group row">
                                                <label for="subjectSelection" class="col-sm-3 control-label">Subject Selection Type</label>
                                                <div class="col-sm-9">
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="subjectSelection" id="AllSubject" value="AllSubject" checked>
                                                            <label class="form-check-label">All Subject(s)</label>
                                                        </div>
                          
                                                        <div class="form-check radio">
                                                            <input class="form-check-input" type="radio" name="subjectSelection" id="SelectedSubject" value="SelectedSubject">
                                                            <label class="form-check-label">Selected Subject</label>
                                                        </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="selectSubject" class="col-sm-3 control-label alignStart">Select Subject</label>
                                                <div class="col-sm-9">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox1" value="option1">
                                                            <label class="form-check-label">BSBRSK501: Manage Risk</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox2" value="option2">
                                                            <label class="form-check-label">BSBHRM513: Manage workforce planning</label>
                                                        </div>
                                                        <div class="form-check" >
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox3" value="option3">
                                                            <label class="form-check-label">BSBADM504: Plan and implementadministrative system</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox4" value="option4">
                                                            <label class="form-check-label">BSBPMG522: Undertake project work</label>
                                                        </div>
                
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox5" value="option5">
                                                            <label class="form-check-label">BSBHRM506: Manage requirement selection and induction proceses</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox6" value="option6">
                                                            <label class="form-check-label">BSBADM502: Manage Meetings</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox7" value="option7">
                                                            <label class="form-check-label">BSBLED502: Manage programs that promote personal effectiveness</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="selectSubject[]" id="checkbox8" value="option8">
                                                            <label class="form-check-label">BSBADM506: Manage Business Document Design and Development</label>
                                                        </div>
                                            
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="teacherFullName" class="col-sm-3 control-label alignStart" >Knowledge Level<span class="star">*</span></label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="teacherFullName" id="teacherFullName"  placeholder="" required> 
                                                    </div>
                                                    <span><a href="#">Refresh Knowledge Level?</a></span>
                                                </div>
                                            </div>
                                        </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row-->
                                <br>
                                <!--submit option-->
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="add" id="add">Add Teacher Matrix</button>
                                </div>                             
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>
