<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Agent Status</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Agent Status</li>
            </ol>
        </div>
        <span class="text-star">Please set up initial Agent status for your insitute before using this System</span>
      </div>
    </div><!-- container-fluid -->
  </section>  

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row m-0 p-0">
          <!-- left column -->
          <div class="col-md-7 offset-md-2">
            <!-- general form elements -->
            <div class="card card-primary mb-0">
              <div class="card-header">
                <h5 class="card-title">Edit Agent Status</h5>
              </div>
              <form role="form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 sub-form">
                      <div class="inner-row">
                        <div class="form-group row">
                          <label for="statusType" class="col-sm-3 control-label">Status Type<span  class="star">*</span></label>
                          <div class="col-sm-9">
                            <div class="input-group fields">
                              <input class="form-control" type="text" name="statusType" id="statusType" placeholder="Enter Status Type" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="selectDuration" class="col-sm-3 control-label alignStart">Select Duration</label>
                          <div class="col-sm-9">
                            <div class="row">
                              <div class="col-sm-3 num-field">
                                <div class="input-group fields">
                                  <input type="number" min="0" class="form-control number" name="selectDuration" id="selectDuration">
                                </div>
                              </div>
                              <div class="col-sm-9 textfield" >
                                <span>Months</span>
                              </div>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="checkbox1" id="publishAgent" value="publishAgent">
                              <label class="form-check-label">Publish Under Agent List</label>
                            </div>
                          </div>
                        </div>
                      </div><!--inner-row-->
                    </div> <!--col-md-12 sub-form-->
                  </div> <!--row1-->
                  <div class="submit-button">
                    <button type="submit" class="btn btn-success" name="addbtn" id="addbtn">Add</button>
                  </div>
                </div>
              </form>
            </div> <!--card card-primary-->
          </div> <!--col-md-6 offset-md-2-->
        </div> <!--row-->
    </div> <!--container-fluid-->
  </section> <!--section2-->
</div> <!--content-wrapper-->


   