<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-sm-12">
                    <h3 class="page-heading">View Course Intake Date</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>View
                            Course Intake Date
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </section>

    <!-- Main content -->
    <div class="row p-0 m-0">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                    <section class="content">
                        <div class="container-fluid">
                            <!-- general form elements -->
                            <div class="card card-primary mb-0">
                                <div class="card-header">
                                    <h5 class="card-title">View Course Intake Date</h5>
                                </div>
                                <!-- form start -->
                                <form method="post" action="" enctype="multipart/form-data"
                                    *ngFor="let CourseIntake of CourseIntakeDate">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 sub-form">
                                                <div class="inner-row">
                                                    <div class="form-group row">
                                                        <label for="courseId"
                                                            class="col-sm-3 control-label">Course</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.courseCode }} -
                                                            {{ CourseIntake.courseName }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="userId" class="col-sm-3 control-label">User
                                                            Id</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.userId }} - {{  CourseIntake.email }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="startDate" class="col-sm-3 control-label">Start
                                                            Date</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.startDate }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="endDate" class="col-sm-3 control-label">End
                                                            Date</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.endDate }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="studentOriginIds"
                                                            class="col-sm-3 control-label">Student
                                                            Origin Ids</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.studentOriginIds }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="enrolmentFee"
                                                            class="col-sm-3 control-label">Enrolment Fee</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.enrolmentFee }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="publish"
                                                            class="col-sm-3 control-label">Publish</label>
                                                        <div class="col-sm-9">
                                                            {{ CourseIntake.publish }}
                                                        </div>
                                                    </div>


                                                </div>
                                                <!--inner-row-->
                                            </div>
                                            <!--col-md-12 sub-form-->
                                        </div>
                                        <!-- row1 -->

                                        <!-- <div class="submit-button">
                                          <button type="submit" (click)="createUser(f)" class="btn btn-primary" name="submit" id="submit">Submit</button>
                                        </div> -->
                                    </div>
                                    <!--card-body-->
                                </form>
                            </div>
                            <!--card card-primary-->
                        </div>
                        <!--container-fluid-->
                    </section>
                    <!--section2-->
                </div>
            </div>
            <!--row1-->
        </div>
        <!--col-md-10offset-md-1-->
    </div>
    <!--main content row-->
</div>
<!--content-wrapper-->