<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Checklist Setup</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Checklist Setup</li>
            </ol>
        </div>
        <span class="text-star">Please setup Checklist information below</span>
      </div>
    </div><!-- container-fluid --> 
  </section> 

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <!-- left column -->
        <div class="col-md-8 offset-md-2">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h5 class="card-title">Checklist Setup Info</h5>
            </div>
            <form role="form">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 sub-form">
                    <div class="inner-row">
                      <div class="form-group row">
                        <label for="checkListname" class="col-sm-3 control-label">Mandatory?</label>
                        <div class="col-sm-9">
                          <div class="form-check radio">
                            <input class="form-check-input" type="radio" name="mandatory[]" id="mandatoryYes" value="mandatoryYes" checked>
                            <label class="form-check-label">Yes</label>
                          </div>
                          <div class="form-check radio">
                            <input class="form-check-input" type="radio" name="mandatory[]" id="mandatoryNo" value="mandatoryNo">
                            <label class="form-check-label">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="checkListname" class="col-sm-3 control-label">Check List Name<span class="star">*</span></label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="checkListname" id="checkListname" placeholder="Enter check list name" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="description" class="col-sm-3 control-label">Description<span class="star">*</span></label>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <textarea class="form-control" rows="3" name="description" id="description" placeholder="Write Description..." required></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="checkListfor" class="col-sm-3 control-label">Checklist For</label>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="checkListfor" id="checkListfor">
                              <option selected="selected">--Select Option----</option>
                              <option>Offer</option>
                              <option>Offer</option>
                              <option>Offer</option>
                              <option>Offer</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div><!--inner-row-->
                  </div><!--col-md-12 sub-form-->
                </div> <!--row-->
                <!--submit option-->
                <div class="submit-button">
                  <button type="submit" class="btn btn-success" name="adminaddchecklistbtn" id="adminaddchecklistbtn">Add</button>
                </div>
              </div><!--card-body-->
            </form>
          </div> <!--card card-primary-->
        </div> <!--col-md-6 offset-md-2-->         
      </div> <!--row-->
    </div> <!--container-fluid-->
  </section> <!--section2-->    
</div><!--content-wrapper-->


   