<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Manage Unit/ Modules</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Manage Unit/ Modules</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-6">
                <h4 class="page-heading">Manage Unit/ Modules</h4>
            </div>
            <div class="col-sm-6">
              <ul class="right-menu float-sm-right">
                <li class="right-menu-item"><a href="#">Home /</a></li>
                <li class="right-menu-item active">Manage Unit/ Modules Form</li>
              </ul>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>
  
  
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header unit">
                            <h4 class="card-title">Module/Unit Information</h4>
                        </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                      <div class="inner-row">
                                        <div class="form-group row">
                                          <label for="usertype" class="col-sm-2 control-label">Subject Name</label>
                                          <div class="col-sm-10">
                                            <select class="form-control" name="usertype" id="usertype">
                                              <option selected="selected" value="All user types">BSBADM502 : Manage meetings</option>
                                              <option value="All Teachers">All Teachers</option>
                                              <option value="NT">NT</option>
                                              <option value="QLD">QLD</option>
                                              <option value="SA">SA</option>
                                              <option value="TAS">TAS</option>
                                              <option value="VIC">VIC</option>
                                              <option value="WA">WA</option>
                                              <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="unitcode" class="col-sm-2 control-label">Unit Code<span class="star">*</span></label>
                                          <div class="col-sm-10"> 
                                            <div class="input-group">
                                              <input class="form-control" type="text" name="unitcode" id="unitcode"  placeholder="Enter unit code here" required>
                                            </div>
                                            <a href="#" class="refresh">Refresh?</a> 
                                          </div>
                                        </div>
              
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label for="vetunitcode" class="col-sm-4 control-label">VET Unit Code<span class="star">*</span></label>
                                              <div class="col-sm-8"> 
                                                <div class="input-group">
                                                  <input class="form-control" type="text" name="vetunitcode" id="vetunitcode"  placeholder="Enter VET unit code here" required>
                                                </div>        
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label for="unitname" class="col-sm-4 control-label"> Unit Name<span class="star">*</span></label>
                                              <div class="col-sm-8"> 
                                                <div class="input-group">
                                                  <input class="form-control" type="text" name="unitname" id="unitname"  placeholder="Enter unit name here" required>
                                                </div>        
                                              </div>
                                            </div>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="unitname" class="col-sm-2 control-label">Description</label>
                                          <div class="col-sm-10"> 
                                            <div class="input-group">
                                              <input class="form-control" type="text" name="unitname" id="unitname"  placeholder="Enter description here" >
                                            </div>        
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="unittype" class="col-sm-2 control-label">Unit type</label>
                                          <div class="col-sm-10">
                                              <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="unittype" id="unittype" checked>
                                                  <label class="form-check-label">Core</label>
                                                </div>
                                                <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="unittype" id="unittype">
                                                  <label class="form-check-label">Elective</label>
                                                </div>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="fieldofedu" class="col-sm-2 control-label">Field of Education</label>
                                          <div class="col-sm-10">
                                            <select class="form-control" name="fieldofedu" id="fieldofedu">
                                              <option selected="selected" value="Any">Not Specified()</option>
                                              <option value="All Teachers">All Teachers</option>
                                              <option value="NT">NT</option>
                                              <option value="QLD">QLD</option>
                                              <option value="SA">SA</option>
                                              <option value="TAS">TAS</option>
                                              <option value="VIC">VIC</option>
                                              <option value="WA">WA</option>
                                              <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="deliverymode" class="col-sm-2 control-label alignStart">Delivery Mode(s)</label>
                                          <div class="col-sm-10">
                                            <div class="form-check cbox">
                                              <input class="form-check-input" type="checkbox" name="checkbox1[]" id="deliverymode1" value="cbox1">
                                              <label class="form-check-label">I-Internal delivery(e.g. classroom -based)</label>
                                            </div>
                                            <div class="form-check cbox">
                                              <input class="form-check-input" type="checkbox" name="checkbox1[]" id="deliverymode2" value="cbox2" >
                                              <label class="form-check-label">E-External Delivery(e.g. online) </label>
                                            </div>
                                            <div class="form-check cbox">
                                              <input class="form-check-input" type="checkbox" name="checkbox1[]" id="deliverymode3" value="cbox3" >
                                              <label class="form-check-label">W-Workplace-based </label>
                                            </div>
                                          </div>
                                        </div>
                                            
                                        <div class="form-group row">
                                          <label for="predominant" class="col-sm-2 control-label">Predominant Delivery mode</label>
                                          <div class="col-sm-10">
                                            <select class="form-control" name="predominant" id="predominant">
                                              <option selected="selected" value="Any">I- Internal delivery(e.g. classroom based)</option>
                                              <option value="All Teachers">All Teachers</option>
                                              <option value="NT">NT</option>
                                              <option value="QLD">QLD</option>
                                              <option value="SA">SA</option>
                                              <option value="TAS">TAS</option>
                                              <option value="VIC">VIC</option>
                                              <option value="WA">WA</option>
                                              <option value="Other - Overseas">Other - Overseas</option>
                                            </select>
                                          </div>
                                        </div>
              
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label for="hours" class="col-sm-4 control-label">Scheduled nominal hours</label>
                                              <div class="col-sm-8"> 
                                                <select class="form-control" name="activitycat" id="activitycat">
                                                  <option selected="selected" value="40">40</option>
                                                  <option value="50">50</option>
                                                  <option value="60">60</option>
                                                  <option value="70">70</option>
                                                  <option value="80">80</option>
                                                  <option value="90">90</option>
                                                </select>       
                                              </div>
                                            </div>
                                          </div>
              
                                          <div class="col-md-6">
                                            <div class="form-group row">
                                              <label for="tutionfee" class="col-sm-4 control-label">Tution Fee(AUD)</label>
                                              <div class="col-sm-8"> 
                                                <select class="form-control" name="activitycat" id="activitycat">
                                                  <option selected="selected" value="0.00">0.00</option>
                                                  <option value="All Teachers">All Teachers</option>
                                                  <option value="NT">NT</option>
                                                  <option value="QLD">QLD</option>
                                                  <option value="SA">SA</option>
                                                  <option value="TAS">TAS</option>
                                                  <option value="VIC">VIC</option>
                                                  <option value="WA">WA</option>
                                                  <option value="Other - Overseas">Other - Overseas</option>
                                                </select>        
                                              </div>
                                            </div>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="coursestatus" class="col-sm-2 control-label">VET Flag</label>
                                          <div class="col-sm-10">
                                              <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="coursestatus" id="coursestatus" checked>
                                                  <label class="form-check-label">Y</label>
                                                </div>
                                                <div class="form-check radio">
                                                  <input class="form-check-input" type="radio" name="coursestatus" id="coursestatus">
                                                  <label class="form-check-label">N</label>
                                                </div>
                                          </div>
                                        </div>
              
                                        <div class="form-group row">
                                          <label for="AVETMISS" class="col-sm-2 control-label">AVETMISS</label>
                                          <div class="col-sm-10">
                                            <div class="form-check cbox">
                                              <input class="form-check-input" type="checkbox" name="avetmiss" id="avetmiss" value="avetmiss1">
                                              <label class="form-check-label">Report</label>
                                            </div>
                                          </div>
                                        </div>
                                      </div><!--inner-row--> 
                                    </div> <!--col-md-12 sub-form-->
                                </div> <!--row1-->
                                <br>

                                <!--submit option-->
                                <div class="submit-button">
                                  <button type="submit" class="btn btn-success" name="add" id="add">Add</button>
                                  <button type="submit" class="btn btn-danger" name="cancel" id="cancel">Cancel</button>
                              </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
  </div> <!--content-wrapper-->
  
  
   