<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Generate Class Attendance List By Individual</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i> Class Attendance List By Individual</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">Class Attendance List By Individual</h5>
                          </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                            <div class="form-group row">
                                                <label for="courseType" class="col-sm-2 control-label">Course Type</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="courseType" id="courseType">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>VET</option>
                                                        <option>VET</option>
                                                        <option>VET</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="semester" class="col-sm-2 control-label">Semester</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="semester" id="semester">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>2020_VET</option>
                                                        <option>2020_VET</option>
                                                        <option>2020_VET</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="term" class="col-sm-2 control-label">Term</label> 
                                                <div class="col-sm-10"> 
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" min="0" name="term" id="term"  placeholder="0">
                                                    </div>         
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="week" class="col-sm-2 control-label">Week</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="week" id="week">
                                                        <option selected="selected">--Select Option--</option>
                                                        <option>1: 6/1/2020 - 12/1/2020</option>
                                                        <option>2: 6/1/2020 - 12/1/2020</option>
                                                        <option>3: 6/1/2020 - 12/1/2020</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="day" class="col-sm-2 control-label">Day</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="day" id="day">
                                                        <option selected="selected">--Select Day--</option>
                                                        <option>Saturday</option>
                                                        <option>Sunday</option>
                                                        <option>Monday</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="specificClass" class="col-sm-2 control-label">Specific Class</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="specificClass" id="specificClass">
                                                        <option selected="selected">--No Classmode Found--</option>
                                                        <option>Classmode1</option>
                                                        <option>Classmode2</option>
                                                        <option>Classmode3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> 
                                 <br>
                                 <!--Submit Button-->
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="view" id="view">View</button>
                                </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content wrapper-->


   