<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Country List</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Country or Nationality Info</li>
                </ol>
            </div>
            <span class="text-star">Please set up Country / Nationality List before using this System</span>
          </div>
        </div><!-- container-fluid -->
    </section> 


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Edit Country / Nationality Info</h5>
                        </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="country" class="col-sm-4 label">Country<span class="star">*</span></label> 
                                                        <div class="col-sm-8"> 
                                                            <div class="input-group">
                                                                <input class="form-control" type="text" name="country" id="country"  placeholder="Enter Country name here" required>
                                                            </div>         
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label for="countryCode" class="col-sm-4 label">Country Code</label> 
                                                        <div class="col-sm-8">   
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="countryCode" id="countryCode" placeholder="Enter country code here">
                                                            </div>       
                                                        </div>
                                                    </div>
                            
                                                    <div class="form-group row">
                                                        <label for="countryLevel" class="col-sm-4 label">Country Level</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="countryLevel" id="countryLevel">
                                                                    <option selected="selected">--Select Country Level--</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option>7</option>
                                                                    <option>8</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                </div> <!--col-md-6-->
                        
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="nationality" class="col-sm-4 label">Nationality<span class="star">*</span></label> 
                                                        <div class="col-sm-8"> 
                                                            <div class="input-group">
                                                                <input class="form-control" type="text" name="nationality" id="nationality"  placeholder="Enter Nationality here" required>
                                                            </div>         
                                                        </div>
                                                    </div>
            
                                                    <div class="form-group row">
                                                        <label for="region" class="col-sm-4 label">Region<span class="star">*</span></label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group">
                                                                <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="region" id="region" required>
                                                                    <option selected="selected">--Select Region--</option>
                                                                    <option>Region 1</option>
                                                                    <option>Region 2</option>
                                                                    <option>Region 3</option>
                                                                    <option>Region 4</option>
                                                                    <option>Region 5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                    <div class="form-group row">
                                                        <label for="absValue" class="col-sm-4 label">ABS Value</label> 
                                                        <div class="col-sm-8"> 
                                                            <div class="input-group">
                                                                <input class="form-control" type="text" name="absValue" id="absValue"  placeholder="Enter ABS value here">
                                                            </div>         
                                                        </div>
                                                    </div>
                                                </div> <!--col-md-6-->
                                            </div>
                                        </div><!--inner-row-->
                                    </div><!--col-md-12 sub-form-->
                                </div> 
                                 <br>
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="adminaddcountryinfobtn" id="adminaddcountryinfobtn">Add</button>
                                </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div>


   