/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.5.2/dist/css/bootstrap.min.css);

@import "~@ng-select/ng-select/themes/default.theme.css";






body.only_content .app-sidebar {
    display: none;
}

body.only_content .app-header {
    display: none;
}

body.only_content .app-footer {
    display: none;
}

body.only_content .content-wrapper {
    width: 100%;
}

body.only_content .inner-content {
    top: unset;
    padding: unset;
    height: 100vh;
}