/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.5.2/dist/css/bootstrap.min.css);

@import "~@ng-select/ng-select/themes/default.theme.css";






body.only_content .app-sidebar {
    display: none;
}

body.only_content .app-header {
    display: none;
}

body.only_content .app-footer {
    display: none;
}

body.only_content .content-wrapper {
    width: 100%;
}

body.only_content .inner-content {
    top: unset;
    padding: unset;
    height: 100vh;
}


body.sidebar-collapse aside.main-sidebar {
    width: 5%;
    overflow: hidden !important;
}
  
body.sidebar-collapse aside.main-sidebar .sidebar {
    width: 5%;
    overflow: hidden;
}

body.sidebar-collapse aside.main-sidebar .sidebar .user-panel {
    display: none;
}

body.sidebar-collapse aside.main-sidebar .sidebar nav li.nav-item a, body.sidebar-collapse aside.main-sidebar .sidebar nav li.nav-item button {
    height: 40px;
}

body.sidebar-collapse aside.main-sidebar .sidebar nav li.nav-item i {
    width: 100%;
    text-align: center;
}

body.sidebar-collapse aside.main-sidebar .sidebar nav li.nav-item span, body.sidebar-collapse aside.main-sidebar .sidebar nav li.nav-item i.fa-angle-left {
    display: none;
}

body.sidebar-collapse .main-sidebar .sidenav-heading {
    padding-right: unset !important;
    border-bottom: 1px solid #c2c2c2;
}

body.sidebar-collapse .main-sidebar .sidenav-heading span.brand-text {
    display: none;
}

body.sidebar-collapse app-header.app-header {
    width: 95%;
}

body.sidebar-collapse app-footer.app-footer {
    width: 95%;
    left: 5%;
}

body.sidebar-collapse .content-wrapper {
    width: 95%;
}

body.sidebar-collapse .inner-content {
    left: 5%;
}

body.sidebar-collapse .main-sidebar .scrollable {
    height: calc(100vh - 5rem);
}

.card-header {
    background: #3f51b5 !important;
}

.card-body .card-header {
    background: transparent !important;
}

body.sidebar-collapse aside.main-sidebar:hover {
    width: 19% !important;
    z-index: 101 !important;
}
  
body.sidebar-collapse aside.main-sidebar:hover .sidebar {
    width: 19%;
    overflow: hidden;
    transition: 0.5s;
}

body.sidebar-collapse aside.main-sidebar:hover .sidebar nav li.nav-item a, body.sidebar-collapse aside.main-sidebar:hover .sidebar nav li.nav-item button {
    height: unset;
}

body.sidebar-collapse aside.main-sidebar:hover .sidebar nav li.nav-item i {
    width: unset;
    text-align: unset;
}

body.sidebar-collapse aside.main-sidebar:hover .sidebar nav li.nav-item span, body.sidebar-collapse aside.main-sidebar:hover .sidebar nav li.nav-item i.fa-angle-left {
    display: unset;
    transition: 0.5s;
}

body.sidebar-collapse .main-sidebar:hover .sidenav-heading span.brand-text {
    display: unset;
    transition: 0.5s;
}
body { margin: 0; }
