<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-sm-12">
                    <h3 class="page-heading">View Unit</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>View
                            Unit
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </section>

    <!-- Main content -->
    <div class="row p-0 m-0">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                    <section class="content">
                        <div class="container-fluid">
                            <!-- general form elements -->
                            <div class="card card-primary mb-0">
                                <div class="card-header">
                                    <h5 class="card-title">View Unit</h5>
                                </div>
                                <!-- form start -->
                                <form method="post" action="" enctype="multipart/form-data" *ngFor="let unit of units">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 sub-form">
                                                <div class="inner-row">
                                                    <div class="form-group row">
                                                        <label for="unitId" class="col-sm-3 control-label">Unit
                                                            Id
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.unitId }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="unitCode" class="col-sm-3 control-label">Unit
                                                            Code
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.unitCode }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="vetUnitCode" class="col-sm-3 control-label">VET Unit
                                                            Code</label>
                                                        <div class="col-sm-9">
                                                            {{ unit.vetUnitCode }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="unitName" class="col-sm-3 control-label">Unit
                                                            Name</label>
                                                        <div class="col-sm-9">
                                                            {{ unit.unitName }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="deliveryMode"
                                                            class="col-sm-3 control-label">Delivery Mode
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.deliveryMode }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="scheduledNominalHours"
                                                            class="col-sm-3 control-label">Schedule Nominal Hours
                                                            Name</label>
                                                        <div class="col-sm-9">
                                                            {{ unit.scheduledNominalHours }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="tuitionFee" class="col-sm-3 control-label">Tuition
                                                            Fee
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.tuitionFee }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="fieldofEducationId"
                                                            class="col-sm-3 control-label">Field Of Education
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.fieldOfEducationCode }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="vetFlag" class="col-sm-3 control-label">Vet Flag
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.vetFlag }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="schoolTypeId" class="col-sm-3 control-label">School
                                                            Type
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.schoolTypeCode }} - {{ unit.schoolTypeName }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label for="specificFundingId"
                                                            class="col-sm-3 control-label">Specific Funding
                                                        </label>
                                                        <div class="col-sm-9">
                                                            {{ unit.specificFundingCode }} -
                                                            {{ unit.specificFundingName }}
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--inner-row-->
                                            </div>
                                            <!--col-md-12 sub-form-->
                                        </div>
                                        <!-- row1 -->

                                        <!-- <div class="submit-button">
                                          <button type="submit" (click)="createUser(f)" class="btn btn-primary" name="submit" id="submit">Submit</button>
                                        </div> -->
                                    </div>
                                    <!--card-body-->
                                </form>
                            </div>
                            <!--card card-primary-->
                        </div>
                        <!--container-fluid-->
                    </section>
                    <!--section2-->
                </div>
            </div>
            <!--row1-->
        </div>
        <!--col-md-10offset-md-1-->
    </div>
    <!--main content row-->
</div>
<!--content-wrapper-->