<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Staff Professional Development Activites for "name" [CPD: 0]</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Staff Professional Development</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                      <div class="card-header">
                        <h5 class="card-title">Save Staff PD</h5>
                      </div> 
                        <form role="form">
                            <div class="card-body">
                        
                                <div class="row">
                                  <div class="col-md-12 sub-form">
                                    <div class="inner-row">
                                      <div class="staffimage">
                                        <img class="staffprofilepic" src="assets/image/avatar.jpg" alt="staff_avatar" >
                                      </div>
                                      <br>
                                            <div class="form-group row">
                                                <label for="CourseType" class="col-sm-3 label">Select Category</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group"  style="float: left;">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="CourseType" id="CourseType" style="width: 100%;">
                                                          <option selected="selected">Conference</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="eventname" class="col-sm-3 label">Event Name<span class="star">*</span></label>
                                                <div class="col-sm-9">
                                                  <input class="form-control" type="text" name="eventname" id="eventname" placeholder="Enter event name" required>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                              <label for="organisedby" class="col-sm-3 label">Organised By<span class="star">*</span></label>
                                              <div class="col-sm-9">
                                                <input class="form-control" type="text" name="organisedby" id="organisedby" placeholder="Enter name organised by" required>
                                              </div>
                                            </div>
                
                                            <div class="form-group row">
                                              <label for="activityname" class="col-sm-3 label">Activity Name<span class="star">*</span></label>
                                              <div class="col-sm-9">
                                                <input class="form-control" type="text" name="activityname" id="activityname" placeholder="Enter activity name" required>
                                              </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="datefrom" class="col-sm-3 label">Event Date From</label> 
                                                <div class="col-sm-9">   
                                                  <div class="input-group">
                                                    <input type="date" class="form-control" name="datefrom" id="datefrom"  data-target="#reservationdate" placeholder="20/6/2020">
                                                  </div>       
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="datefrom" class="col-sm-3 label">Event Date To</label> 
                                                <div class="col-sm-9">   
                                                  <div class="input-group">
                                                    <input type="date" class="form-control" name="datefrom" id="datefrom"  data-target="#reservationdate" placeholder="20/6/2020">
                                                  </div>       
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                                <label for="cpd" class="col-sm-3 label">CPD Points</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="cpd" id="cpd" style="width: 100%;">
                                                          <option selected="selected">0.00</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                          <option>VET</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="form-group row">
                                              <label for="comments" class="col-sm-3 label">Comments</label>
                                              <div class="col-sm-9">
                                                <textarea class="form-control" rows="3" placeholder="Enter comments..." name="comments" id="comments"></textarea>
                                              </div>
                                            </div>
                                    
                                    </div>
                                  </div><!--col-md-12 sub-form-->
                                    

                                </div> <!--row1-->
                                 
                                
                                <br>

                     
                                <!--submit option-->
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="staffsavebtn" id="staffsavebtn">Save</button>
                                </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content-wrapper-->


   
