<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-sm-12">
                    <h3 class="page-heading">Course Intake Date List</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>
                            Course Intake Date List
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                    <!-- general form elements -->
                    <div class="card card-primary mb-0 shadow-lg bg-white rounded">
                        <div class="card-header">
                            <h5 class="card-title">Course Intake Date List Table</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 sub-form">
                                    <div class="inner-row">

                                        <div class="col-md-12 p-0 m-0">
                                            <table class="table table-stripe">
                                                <tr class="heading">
                                                    <th class="course-name">Course Name</th>
                                                    <th class="date">Start Date</th>
                                                    <th class="date">End Date</th>
                                                    <th class="action">Action</th>
                                                </tr>
                                                <tr *ngFor="let coursedate of CourseIntakeDate"
                                                    id="{{ coursedate.courseIntakeDateId }}">
                                                    <td class="course-name" id="{{ coursedate.courseId }}">{{ coursedate.courseName }}</td>
                                                    <td class="date">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ coursedate.startDate }}"
                                                                id="sdate{{ coursedate.courseIntakeDateId }}" matInput
                                                                [matDatepicker]="picker1">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>


                                                    <td class="date">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ coursedate.endDate }}"
                                                                id="edate{{ coursedate.courseIntakeDateId }}" matInput
                                                                [matDatepicker]="picker2">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="action">
                                                        <button type="submit" id="{{coursedate.courseIntakeDateId}}"  data-course="{{ coursedate.courseId }}" attr.data-course="{{ coursedate.courseId }}"
                                                            (click)="myFunction($event)" class="btn btn-success"
                                                            name="click">Class Setup</button>
                                                        <!-- <a href="course/view-course-intake-date/{{ coursedate.courseIntakeDateId }}">View</a>
                                                            |
                                                            <a href="course/edit-course-intake-date/{{ coursedate.courseIntakeDateId }}">Edit</a> -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--inner-row-->
                                </div>
                                <!--col-md-12 sub-form-->
                            </div>
                            <!--row1-->
                        </div>
                        <!--card-body-->

                    </div>
                    <!--card card-primary-->
                </div>
                <!--col-md-6 offset-md-2-->
            </div>
            <!--row-->
        </div>
        <!--container-fluid-->
    </section>
    <!--section2-->
</div>
<!--content-wrapper-->