<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <div class="col-sm-12">
                    <h3 class="page-heading">Class Setup</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>
                            Class Setup
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-10 offset-md-1">
                    <!-- general form elements -->
                    <div class="card card-primary mb-0 shadow-lg bg-white rounded">
                        <div class="card-header">
                            <h5 class="card-title">Class Setup</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 sub-form">
                                    <div class="inner-row">

                                        <div class="col-md-12 p-0 m-0">
                                            <table class="table table-stripe">
                                                <!-- <tr class="heading">
                                                    <th class="class-setup-name">Class Setup Name</th>
                                                    <th class="unit-name">Unit Name</th>
                                                    <th class="date">Start Date</th>
                                                    <th class="date">End Date</th>
                                                    <th class="action">Action</th>
                                                </tr> -->
                                                <tr *ngFor="let classSetup of getClassSetup"
                                                    id="{{ classSetup.classSetupId }}">
                                                    <td class="class-setup-name">{{ classSetup.classSetupName }}</td>
                                                    <td class="unit-name"><input type="text" [(ngModel)]="str"> </td>
                                                    <td class="date">
                                                        <mat-form-field appearance="fill" id="matfield">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.startDate }}"
                                                                id="sdate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker1">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>


                                                    <td class="date">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.endDate }}"
                                                                id="edate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker2">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="action">
                                                        <button type="submit" id="{{classSetup.classSetupId}}"
                                                            (click)="myFunction($event)" class="btn btn-success"
                                                            name="click">Setup Timetable</button>
                                                    </td>
                                                </tr>

                                                
                                                <!-- <tr *ngFor="let classSetup of getClassSetup"
                                                    id="{{ classSetup.classSetupId }}">
                                                    <td class="class-setup-name">{{ classSetup.classSetupName }}</td>
                                                    <td class="unit-name">{{ str }}</td>
                                                    <td class="date">
                                                        <mat-form-field appearance="fill" id="matfield">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.startDate }}"
                                                                id="sdate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker1">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>


                                                    <td class="date">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.endDate }}"
                                                                id="edate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker2">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="action">
                                                        <button type="submit" id="{{classSetup.classSetupId}}"
                                                            (click)="myFunction($event)" class="btn btn-success"
                                                            name="click">Setup Timetable</button>
                                                        
                                                    </td>
                                                </tr>

                                                <tr *ngFor="let classSetup of getClassSetup" 
                                                    id="{{ classSetup.classSetupId }}">
                                                    <td class="class-setup-name">{{ classSetup.classSetupName }}</td>
                                                    <td class="unit-name">{{ str }}</td>
                                                    <td class="date">
                                                        <mat-form-field appearance="fill" id="matfield">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.startDate }}"
                                                                id="sdate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker1">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>


                                                    <td class="date">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Choose a date</mat-label>
                                                            <input value="{{ classSetup.endDate }}"
                                                                id="edate{{ classSetup.classSetupId }}" matInput
                                                                [matDatepicker]="picker2">
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="action">
                                                        <button type="submit" id="{{classSetup.classSetupId}}"
                                                            (click)="myFunction($event)" class="btn btn-success"
                                                            name="click">Setup Timetable</button>
                                                        
                                                    </td>
                                                </tr> -->
                                            </table>
                                        </div>
                                    </div>
                                    <!--inner-row-->
                                    <a href="/course/course-intake-date-list" class="btn btn-primary" role="button" aria-pressed="true">Go Back</a>

                                </div>
                                <!--col-md-12 sub-form-->
                            </div>
                            <!--row1-->
                        </div>
                        <!--card-body-->

                    </div>
                    <!--card card-primary-->
                </div>
                <!--col-md-6 offset-md-2-->
            </div>
            <!--row-->
        </div>
        <!--container-fluid-->
    </section>
    <!--section2-->
</div>
<!--content-wrapper-->