<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
          <div class="row m-0 p-0">
            <div class="col-sm-12">
                <h3 class="page-heading">Create Class without Timetable</h3>
            </div>
            <div class="col-sm-12 text-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Class Timetable</li>
                  </ol>
            </div>
          </div>
        </div><!-- container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Class Timetable</h5>
                          </div>
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 sub-form">
                                        <div class="inner-row">
                                            <div class="form-group row">
                                                <label for="coursetype" class="col-sm-3 control-label">Course Type</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="coursetype" id="coursetype">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>VET</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="semester" class="col-sm-3 control-label">Semester</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="semester" id="semester">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>Term 3,2020_3</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="subject" class="col-sm-3 control-label">Subject</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="subject" id="subject">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>BSBADM502: Manage meetings</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="startweek" class="col-sm-3 control-label">Start Week</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="startweek" id="startweek">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>WeekID:6:10 Aug 2020:(Term:1)</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="assessor" class="col-sm-3 control-label alignStart">Assessor</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="assessor" id="assessor">
                                                        <option selected="selected">--Unassigned----</option>
                                                        <option>WeekID:6:10 Aug 2020:(Term:1)</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                    <div class="form-check col-sm-12">
                                                        <input class="form-check-input" type="checkbox" name="checkbox1" id="checkbox1" value="cbox1">
                                                        <label class="form-check-label">Create assessments for this class</label>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="calendertype" class="col-sm-3 control-label">Calendar Type</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="calendertype" id="calendertype">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>Calendar Sept1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="form-group row">
                                                <label for="term" class="col-sm-3 control-label">Term</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="term" id="term">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group row">
                                                <label for="batch" class="col-sm-3 control-label">Batch<span class="star">*</span></label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <input class="form-control" type="text" name="batch" id="batch"  placeholder="Enter batch here" required >
                                                    </div>  
                                                </div>
                                            </div>
                            
                                            <div class="form-group row">
                                                <label for="endweek" class="col-sm-3 control-label">End Week</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" name="endweek" id="endweek">
                                                            <option selected="selected">--Select Option----</option>
                                                            <option>WeekID:6:10 Aug 2020:(Term:1)</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div><!--inner-row-->
                                    </div> <!--col-md-12 sub-form-->
                                </div> 
                                 <br>
                                 <!--Submit Button-->
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-success" name="add" id="add">Add Class</button>
                                </div>
                            
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content wrapper-->


   