<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
          <h3 class="page-heading">Edit Venue</h3>
        </div>
        <div class="col-sm-12 text-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">
              <i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Edit
              Venue
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </section>

  <!-- Main content -->
  <div class="row p-0 m-0">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12">
          <section class="content">
            <div class="container-fluid">
              <!-- general form elements -->
              <div class="card card-primary mb-0">
                <div class="card-header">
                  <h5 class="card-title">Edit Venue Room</h5>
                </div>
                <!-- form start -->
                <form #f="ngForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 sub-form">
                        <div class="alert alert-success">
                          <strong>Success!</strong> Your account is updated.
                        </div>

                        <div class="inner-row">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="venueCode" class="col-sm-4 label">Venue Code<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.venueCode" type="text" class="form-control"
                                      name="venueCode" id="venueCode" placeholder="Enter venue code here" required />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="address1" class="col-sm-4 label flstart">Address</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.address1" class="form-control" type="text" name="address1"
                                      id="address1" placeholder="Enter your address here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="suburb" class="col-sm-4 label">Suburb</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.suburb" class="form-control" type="text" name="suburb"
                                      id="suburb" placeholder="Enter Suburb here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="stateId" class="col-sm-4 label">State</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <select [(ngModel)]="venue.stateId" class="form-control select2 select2-danger"
                                      data-dropdown-css-class="select2-danger" name="stateId" id="stateId">
                                      <option *ngFor="let state of getstate" [value]="state.stateId"
                                        selected="selected">
                                        {{ state.stateCode }} -
                                        {{ state.stateName }}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="ABN" class="col-sm-4 label">ABN</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.ABN" class="form-control" type="text" name="ABN" id="ABN"
                                      placeholder="Enter your ABN here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="effectiveDateFrom" class="col-sm-4 label flstart">Venue Effective From
                                  Date</label>
                                <div class="col-sm-8" id="reservationdate" data-target-input="nearest">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.effectiveDateFrom" type="date"
                                      class="form-control datetimepicker-input" name="effectiveDateFrom"
                                      id="effectiveDateFrom" data-target="#reservationdate" placeholder="03/10/2016" />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->

                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="venueName" class="col-sm-4 label flstart">Venue Name/ Description</label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.venueName" class="form-control" type="text"
                                      name="venueName" id="venueName" placeholder="Enter Venu Name here" />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="trainingOrgId" class="col-sm-4 label">Training Organization<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <select [(ngModel)]="venue.trainingOrgId"
                                      class="form-control select2 select2-danger"
                                      data-dropdown-css-class="select2-danger" name="trainingOrgId" id="trainingOrgId">
                                      <option *ngFor="
                                          let trainingOrg of gettrainingOrg
                                        " [value]="trainingOrg.trainingOrgId" selected="selected">
                                        {{ trainingOrg.trainingOrgName }}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="countryId" class="col-sm-4 label">Country</label>
                                <div class="input-group col-sm-8">
                                  <select [(ngModel)]="venue.countryId" class="form-control select2 select2-danger"
                                    data-dropdown-css-class="select2-danger" name="countryId" id="countryId">
                                    <option *ngFor="let countries of getcountry" [value]="countries.countryId"
                                      selected="selected">
                                      {{ countries.countryName }}
                                    </option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="contactNo" class="col-sm-4 label">Contact No.<span
                                    class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.contactNo" class="form-control" type="text"
                                      name="contactNo" id="contactNo" placeholder="Enter Contact No. here" required />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="postCode" class="col-sm-4 label">Postcode<span class="star">*</span></label>
                                <div class="col-sm-8">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.postCode" class="form-control" type="text"
                                      pattern="[0-9]{5}" name="postCode" id="postCode"
                                      placeholder="Enter your Postcode here" required />
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="effectiveDateTo" class="col-sm-4 label flstart">Venue Effective To
                                  Date</label>
                                <div class="col-sm-8" id="reservationdate" data-target-input="nearest">
                                  <div class="input-group">
                                    <input [(ngModel)]="venue.effectiveDateTo" type="date"
                                      class="form-control datetimepicker-input" name="effectiveDateTo"
                                      id="effectiveDateTo" data-target="#reservationdate" placeholder="03/10/2024" />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--col-md-6-->
                          </div>
                        </div>
                        <!--inner-row-->
                      </div>
                      <!--col-md-12 sub-form-->
                    </div>
                    <!-- row1 -->

                    <br />

                    <div class="submit-button">
                      <button type="submit" (click)="editVenue(f)" class="btn btn-primary" name="update" id="update">
                        Update
                      </button>
                    </div>
                  </div>
                  <!--card-body-->
                </form>
              </div>
              <!--card card-primary-->
            </div>
            <!--container-fluid-->
          </section>
          <!--section2-->
        </div>
      </div>
      <!--row1-->
    </div>
    <!--col-md-10offset-md-1-->
  </div>
  <!--main content row-->
</div>
<!--content-wrapper-->