<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-sm-12">
            <h3 class="page-heading">Course Site</h3>
        </div>
        <div class="col-sm-12 text-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><i class="fa fa-angle-right pr-2" aria-hidden="true"></i>Course Site</li>
              </ol>
        </div>
      </div>
    </div><!-- container-fluid -->
</section> 

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0 p-0">
                <!-- left column -->
                <div class="col-md-8 offset-md-2">
                  <!-- general form elements -->
                    <div class="card card-primary mb-0">
                        <div class="card-header">
                            <h5 class="card-title">Add New Course Site</h5>
                        </div>
                        <form role="form">
                            <div class="card-body">
                        
                              <div class="row">

                                <div class="col-md-12 sub-form">
                                  <div class="inner-row">
                                    <div class="form-group row">
                                      <label for="CourseSiteId" class="col-sm-3 control-label">Course Site ID<span class="star">*</span></label> 
                                      <div class="col-sm-9"> 
                                          <div class="input-group">
                                              <input class="form-control" type="text" name="CourseSiteId" id="CourseSiteId"  placeholder="Enter Course Site Id here" required>
                                          </div>         
                                      </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="CourseSiteName" class="col-sm-3 control-label">Course Site Name<span class="star">*</span></label> 
                                        <div class="col-sm-9"> 
                                            <div class="input-group">
                                                <input class="form-control" type="text" name="CourseSiteName" id="CourseSiteName"  placeholder="Enter Course Site Name here" required>
                                            </div>         
                                        </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="CourseActive" class="col-sm-3 control-label">Active?</label>
                                        <div class="col-sm-9">
                                          <div class="form-check radio">
                                            <input class="form-check-input" type="radio" name="CourseActive" id="CourseActiveYes" value="CourseActiveYes" checked>
                                            <label class="form-check-label">Yes</label>
                                          </div>
      
                                          <div class="form-check radio">
                                            <input class="form-check-input" type="radio" name="CourseActive" id="CourseActiveNo" value="CourseActiveNo">
                                            <label class="form-check-label">No</label>
                                          </div>
                                        </div>
                                    </div>
                                  </div><!--inner-row-->
                                </div> <!--col-md-12 sub-form-->
                                    
                              </div> <!--row-->
                              <!--submit-button-->
                              <div class="submit-button">
                                <button type="submit" class="btn btn-success" name="add" id="add">Add</button>
                            </div>
                            </div>
                        </form>
                      
                    </div> <!--card card-primary-->
                   
                </div> <!--col-md-6 offset-md-2-->
               
            </div> <!--row-->
           
        </div> <!--container-fluid-->
             
    </section> <!--section2-->
    
</div> <!--content-wrapper-->


   